﻿@model List<Offer.Models.Seller.SellerGridItem>
    

    @foreach (var item in Model)
    {
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="active">
                        <div class="row-fluid listingBox status_active">
                            <ul>                              
                                                                         
                                <li>
                                    <h4>@item.Firstname  @item.Lastname</h4>                                    
                                    <p>@item.Phone</p>
                                    <p><a href="mailto:@item.Email" target="_top">@item.Email</a></p>
</li>
                                <li>
                                    <h4><a href="/Listing/Detail/@item.ListingId">@item.Address</a></h4>
                                    <p>@item.City, @item.State @item.PostalCode</p>
                                </li>     
                                                       
                              
                            </ul>
                        </div>
                    </div>
                }



