﻿@model Offer.Models.Seller.SellerSearchModel 


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#" class="btn btn_mainBlue navbar_btn btn_with_icon uppercase">
                        <i class="subnav_btn_icon material-icons">add_circle</i>
                        Sellers
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group"><input type="text" class="form-control" placeholder="Search" id="txtsearch"></div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <select id="statusFilter" class="form-control">
                        <option value="All">Show All</option>
                        <option value="Active">Active</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section id="allListings" class="wrapEmAll">
    <div class="container" id="searchresult">

        @*Serach Result Partial Page*@
    </div>
</section>


@section scripts {
    <script>

        function newListingModal(productId) {
            $.ajax({
                url: '/Listing/NewListing/', // The method name + paramater
                success: function (data) {
                    $('#modalBody').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    $('#modalWrapper').show();
                }
            });
        }

      //  $(document).ready(function () {
      //      $('#listingTable').DataTable();
      //  });
    </script>
    <script>
    $(document).ready(function () {
        $.ajax({
            url: '/Seller/_DisplayAll', // The method name + paramater
            success: function (data) {
                $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)
            }
        });
    });
    $('#txtsearch').change(function () {
        var Name = $('#txtsearch').val();
        var Status = $('#statusFilter').val();       
        alert(Name);
        $.ajax({
            url: '/Seller/_SearchResult?SearchType=' + Status + '&Name=' + Name,// The method name + paramater
            success: function (data) {
                $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)

            }
        });
    });
    $('#statusFilter').change(function () {        
        var Status = $('#statusFilter').val();
        alert(Status);
        $.ajax({
            url: '/Seller/_SearchResult?SearchType=' + Status + '&Name='+ null, // The method name + paramater
            success: function (data) {
                $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)

            }
        });
    });

    </script>
}
