$darkGrey: #7d7d7d;
$mainBlue: #00b0ee;
$darkBlue: #028db2;
$white: #ffffff;
$bodyBg: #fafafa;
$borderGrey: #e0e0e0;
$statusActive: #00c853;
$statusEscrow: #ffab00;
$statusClosed: #00b0ee;
$statusCancelled: #e0e0e0;
$notifyColor: #f44336;
$subNavColor: #efefef;