$defaultFont: 'Roboto', sans-serif;
$material: Material Icons;


body, select{
    font-family: $defaultFont;
    color: $darkGrey;
    background-color: $white;
}

option {
    padding: 2px;
}

a{
    color: $mainBlue;
}

select {
    border: none;
    backface-visibility: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, $darkGrey 50%),
        linear-gradient(135deg, $darkGrey 50%, transparent 50%) !important;
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    
    &:focus{
        background-image:
            linear-gradient(45deg, $mainBlue 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, $mainBlue 50%) !important;
        background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        outline: 0;
        border: 2px solid $mainBlue;
        -webkit-transition: border-color 0.35s, -webkit-transform 0.35s;
        transition: border-color 0.35s, transform 0.35s;
   }
    
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}


ul{
    -webkit-padding-start: 0;list-style:none;
}

.form-control{
    color: $darkGrey;
    backface-visibility: $white;
    box-shadow: none;
    color: $darkGrey;
    border: 2px solid $borderGrey;
    border-radius: 2px;
    padding: 4px 12px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    appearance: none;
    &:focus{
        box-shadow: none;
        border: 2px solid $mainBlue;
            }
}

.hidden{
    display: none;
}	

.uppercase{
    text-transform: uppercase;
}

.btn_mainBlue{
    font-weight: 500;
    -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
    transition: background-color 0.35s, transform 0.2s;
    border-radius: 2px;
    height: 34px;
    min-width: 120px;
    
    
    &:hover, &:focus{
        font-weight: 500;
        
    }
    
    &.navbar_btn{
        line-height: 34px !important;
        background-color: $mainBlue;
        color: $white;
        
        &:hover, &:focus{
        color: $white;
        background-color: $darkBlue !important;
        }
    }
    
    &.border_btn{
        background-color: $white;
        border: 2px solid $mainBlue;
        color: $mainBlue;
        
        &:hover, &:focus{
        color: $white;
        background-color: $mainBlue;
        }
    }
    
    &.cancel_btn{
        background-color: $borderGrey;
        border: 2px solid transparent;
        color: $darkGrey;
        
        &:hover, &:focus{
        color: $white;
        background-color: $darkGrey;
        border: 2px solid transparent;    
        }
    }
    
    &.save_btn{
        background-color: $mainBlue;
        border: 2px solid transparent;
        color: $white;
        
        &:hover, &:focus{
        color: $white;
        background-color: $darkBlue;
        border: 2px solid transparent;    
        }
    }
}


.btn_with_icon{
    padding-left: 40px !important;
}




#allListings{
    padding: 15px 0;
}
.listingBox{
     ul{
         li{
              .marg-v-10{
                      border:1px solid #545454;
                  }
              
         }

     }


}

.listingBox{
    background-color: $white;
    border: 2px solid $borderGrey;
    border-radius: 2px;
    margin: 0 auto 30px auto;
    ul{
        padding-left: 0;
        hr{
            margin: 10px auto;
        }
        li{
            list-style-type: none;
            
            &.image_wrapper{
                overflow: hidden;
            }
            img{
                width: 100%;
                height: 180px;
                max-width: none;
	           width: -webkit-calc(100% + 50px);
	           width: calc(100% + 50px);
	           opacity: 0.9;
	           -webkit-transition: opacity 0.50s, -webkit-transform 0.50s;
	           transition: opacity 0.50s, transform 0.50s;
	           -webkit-transform: translate3d(-20px,0, 0);
	           transform: translate3d(-20px,0,0);
                
                &:hover{
                    -webkit-transform: translate3d(0,0,0);
	               transform: translate3d(0,0,0);
                    opacity: 1;
                }
            }
            select{
                border: none;
                border-radius: 0;
                box-shadow: none;
                color: $darkGrey;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                &:focus{
                    box-shadow: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: none;
                    
                    
                }
                
                
            }
            
            h4{
                text-align: center;
                color: $mainBlue;
                font-weight: bold;
                padding: 10px 0 0;
            }
            p{
                text-align: center;
                
                .notify_offer{
                    font-weight: 500;
                    color: $notifyColor;
                }
            }
        }
    }
    
    &.status_active{
        select{
            border-left: 6px solid $statusActive;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &.status_escrow{
        select{
            border-left: 6px solid $statusEscrow;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &.status_closed{
        select{
            border-left: 6px solid $statusClosed;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &.status_cancelled{
        select{
            border-left: 6px solid $statusCancelled;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}


.notify_offer_icon{
    border-left: 40px solid transparent;
    border-right: 40px solid $notifyColor;
    border-top: 40px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 17px;
    bottom: 32px;
    z-index: 1;
}

.notification_counter{
    position: absolute;
    margin-top: -20px;
    right: -36px;
    background-color: #fff;
    font-size: 10px;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    color: $notifyColor;
}


@media screen and (min-width: 300px){
    .listingWrap.col-xs-12{
        width: 100%;
    }
    
    
    .nav{
        li{
            text-align: center;
        }
    }
    
    .userPic{
        margin: 0 auto;
    }
    
    .btn_with_icon{
        width: 100%;
    }
}

@media screen and (min-width: 480px){
    .listingWrap.col-xs-12{
        width: 50%;
    }
}

@media screen and (min-width: 720px){
    .listingWrap.col-xs-12{
        width: 33.33%;
    }
}

@media screen and (min-width: 768px){
    .btn_with_icon{
        width: auto;
    }
}

@media screen and (min-width: 1080px){
    .listingWrap.col-xs-12{
        width: 25%;
    }
}




// Login screen Styles starts here

.boxesPadding{
//    padding: 20px;
    background-color: $white;
    border-top: 2px solid $borderGrey;
    border-left: 2px solid $borderGrey;
    border-right: 2px solid $borderGrey;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    
    .boxesTopic{
        color: $mainBlue;
        font-weight: 500;
        padding: 20px;
        margin: 0;
    }
    
    hr{
        margin: 0;
        border-top: 2px solid $borderGrey;
    }
    
    .boxesParagraph{
        padding: 30px 30px 0 30px;
        line-height: 32px;
        
        p{
            padding: 15px 30px;
        }
    }
}

//.boxesPadding_full{
////    padding: 20px;
//    background-color: $white;
//    border: 2px solid $borderGrey;
//    border-radius: 2px;
//    padding: 15px 30px;
//    
//    
//    .boxesTopic{
//        color: $mainBlue;
//        font-weight: 500;
//        padding: 20px;
//        margin: 0;
//    }
//    
//    hr{
//        margin: 0;
//        border-top: 2px solid $borderGrey;
//    }
//    
//    .boxesParagraph{
//        padding: 30px 30px 0 30px;
//        line-height: 32px;
//        
//        p{
//            padding: 15px 30px;
//        }
//    }
//}



.loginBox{
    text-align: center;
    margin-top: 7.5%;
    padding: 20px 20px 30px;
    
    h1{
        color: $mainBlue;
        padding-bottom: 20px;
    }
    
    form{
        max-width: 300px;
        margin: 0 auto;
    }
    
    button{
        width: 100%;
        margin-bottom: 30px;
    }
    
    a{
        color: $darkGrey;
        text-decoration: underline;
        
        &:hover, &:active, &:focus{
            color: $mainBlue;
        }
    }
}



.input-group-addon{
    border: none;
    padding: 0 6px;
    background-color: $borderGrey;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    .material-icons{
        color: $white;
        font-size: 20px;
        line-height: 1.5;
    }
}


.btn-primary{
    background-color: $mainBlue;
    color: $white;
    border-color: $mainBlue;
    
    &:hover, &:focus{
        background-color: $darkBlue;
        color: $white;
        border-color: $darkBlue;
    }
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus{
        background-color: $darkBlue;
        color: $white;
        border-color: $darkBlue;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus{
    background-color: $mainBlue;
    color: $white;
    border-color: $mainBlue;
}


.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    pointer-events: none;
}


// Login screen Styles ends here



// Add New listing page starts here

.wrapEmAll{
    margin-bottom: 30px;
}

@media screen and (min-width: 240px){
    .allSteps{
        padding: 0 0 80px;
    }
    
    .half_padding{
        &:nth-child(1){
            padding-right: 15px;
        }
        &:nth-child(2){
            padding-left: 15px;
        }
    }
    
    .extra_hidden{
        visibility: hidden;
    }
    
    .call_to_action{
        button{
            display: block;
            margin-bottom: 10px;
            width: 100%;
        }
        .right{
            float: none;
            
            button{
                display: block;
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px){
    
    .allSteps{
        padding: 0 0 140px;
    }
    .half_padding{
        &:nth-child(1){
            padding-right: 7.5px;
        }
        &:nth-child(2){
            padding-left: 7.5px;
        }
    }
    
    .call_to_action{
        button{
            display: inline-block;
            margin-bottom: 0;
            min-width: 100px;
            width: auto;
        }
        .right{
            float: right;
            
            button{
                display: inline-block;
                margin-bottom: 0;
                min-width: 100px;
                width: auto;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .allSteps{
        padding: 0 0 60px;
    }
}

@media screen and (min-width: 1200px){
    .extra_hidden{
        visibility:visible;
    }
}

.allSteps{
    text-align: center;
   
    
    .steps{
        a{
//            background-color: $subNavColor;
//            border: 1px solid $borderGrey;
            padding: 13px 20px;
            border-radius: 100%;
            font-size: 18px;
            height: 52px;
            width: 52px;
            margin: 0 auto;
            
            &.active{
//            background-color: $mainBlue;
//            border: 1px solid $mainBlue;
            color: $white;
            font-weight: 700;
        }
        }
        
        
    }
    
    .stepInfo{
        padding-top: 20px;
        display: block;
        
        &.active{
            color: $mainBlue;
            font-weight: 500;
        }
    }
}


.icon_has_topic{
    position: absolute;
    margin-top: -2px;
    font-size: 24px;
}

.topic_has_icon{
    padding-left: 32px;
}

.editable_mode{
    margin-top: -24px;
    font-size: 12px;
    color: $borderGrey;
    
    .icon_has_topic{
        font-size: 14px;
    }
    
    .topic_has_icon{
        padding-left: 20px;
    }
}


.you_are_here{
    list-style-type: none;
    
    li{
        display: inline-table;
        line-height: 36px;
        
        i.material-icons{
            vertical-align: middle;
        }
        a{
            color: $darkGrey;
            text-decoration: none;
            text-transform: uppercase;
        
            &:hover, &:active, &:focus{
                color: $mainBlue;
            }
            
            &.active{
                color: $mainBlue;
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
}


.move_down_group{
    margin-bottom: 0;
}

.move_up_group{
    margin-top: 0;
}

%extend_1 {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

%extend_2 {
	content: '';
	background: $white;
	border: 2px solid $borderGrey;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;
}


.checkbox-custom {
	opacity: 0;
	position: absolute;
	@extend %extend_1;
	+ .checkbox-custom-label:before {
		@extend %extend_2;
	}
	&:checked + .checkbox-custom-label:before {
		content: "check";
		font-family: $material;
		background: $mainBlue;
		color: $white;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
	}
	
}
.radio-custom {
	opacity: 0;
	position: absolute;
	@extend %extend_1;
	+ .radio-custom-label:before {
		@extend %extend_2;
		border-radius: 50%;
	}
	&:checked + .radio-custom-label:before {
		content: "check";
		font-family: $material;
		color: $darkGrey;
	}
	
}
.checkbox-custom-label {
	@extend %extend_1;
	position: relative;
    font-weight: 400;
}
.radio-custom-label {
	@extend %extend_1;
	position: relative;
}


.full_width{
    width: 100%;
    
    .input-group{
        width: 100%;
    }
    
}


.custom_margin-md{
    margin-bottom: 27px;
}

.call_to_action{
    padding: 0 30px 30px;
}

// Add New listing page ends here


.datepicker{
    border: 2px solid $borderGrey;
    padding: 10px;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, {
    background-color: $darkBlue !important;
    background-image: none !important;
    color: $white !important;
}


.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover{
    background-color: $mainBlue !important;
    background-image: none !important;
    color: $white !important;
}


.datepicker td, .datepicker th{
    border-radius: 2px !important;
    padding: 10px !important;
    border: 3px solid $white !important;
}

.drop_zone{
    text-align: center;
    padding: 30px;
}

.drop_area{
    padding: 20px 10px;
}

.blue_icon{
    color: $mainBlue;
}

.call_to_action{
    border-bottom: 2px solid $borderGrey;
    border-right: 2px solid $borderGrey;
    border-left: 2px solid $borderGrey;
}

.visibilityHide{
    visibility: hidden;
}



.has-error .form-control{
    box-shadow: none;
    border-color: $notifyColor;
    
    &:focus{
        box-shadow: none;
        border-color: $notifyColor;
    }
}



//




//.stepwizard-step button[disabled] {
//    opacity: 1 !important;
//    filter: alpha(opacity=100) !important;
//}
////.stepwizard-row:before {
////    top: 37px;
////    bottom: 0;
////    position: absolute;
////    content: " ";
////    width: 100%;
////    height: 1px;
////    background-color: #ccc;
////    z-order: 0;
////}
//.stepwizard-step {
//    display: table-cell;
//    text-align: center;
//    position: relative;
//}
//.btn-circle {
//    width: 30px;
//    height: 30px;
//    text-align: center;
//    padding: 6px 0;
//    font-size: 12px;
//    line-height: 1.428571429;
//    border-radius: 15px;
//}



//seller tab


.boxesPadding_full{
//    padding: 15px 30px;
    border: 2px solid $borderGrey;
    
}
.property_information{
    margin-top: 15px;
}

.heading_status{
    padding:15px;
    border-bottom: 2px solid $borderGrey;
    
    h4{
        color: $mainBlue;
    }
    
    h5{
        text-align: right;
        text-transform: uppercase;
    }
}

.entry{
    padding: 15px 30px;
    border-bottom: 1px solid $borderGrey;
    
    &:last-child{
        border: none;
    }
    
    &.links_entry{
        padding-top: 15px;
    }
}

.form-group{
    &.final_group{
        margin-bottom: 0;
    }
}

.seperated_entry{
    margin: 7.5px 0;
}

.active{
    color: $statusActive;
}

.tabs {
	margin-left: 15px;
    height: 55px;
	border-bottom: 2px solid #e0e0e0;
}

.tabs li,
.tabs li:before {
    cursor: default;
    z-index: 1;
    position: relative;
    border: 2px solid #e0e0e0;
    border-bottom: 0;
    transform: skewX(25deg);
    float: left;
    height: 45px;
    margin: 10px 0 0 12px;
    padding: 0 15px;
    width: 160px;
    border-radius: 5px 5px 0 0;
    background: #ddd;
}


.tabs li:nth-child(1) { z-index: 7 }
.tabs li:nth-child(2) { z-index: 6 }
.tabs li:nth-child(3) { z-index: 5 }
.tabs li:nth-child(4) { z-index: 4 }
.tabs li:nth-child(5) { z-index: 3 }
.tabs li:nth-child(6) { z-index: 2 }
.tabs li:nth-child(7) { z-index: 1 }

.tabs li.active,
.tabs li.active:before {
    z-index: 9 !important;
    background: #fff;
    height: 47px;
    margin-bottom: -3px;
    border-color: #e0e0e0;
	
}
.tabs li:before {
    content: '';
    position: absolute;
    left: -29px;
    top: -2px;
    transform: skewX(140deg);
    border-right: 0;
    margin: 0;
    padding: 0;
    width: 60px;
    border-radius: 0;
}
.tabs li:first-child:before {
    transform: skewX(-25deg);
	}
.tabs li.active a{color:$mainBlue;}
.tabs li a {
    z-index: 3;
    position: absolute;
    font-size: 18px;
    color: #777;
     line-height: 25px;
    text-align: center;
    transform: skewX(-25deg);
    border-radius: 100%;
	 background-color: transparent;
    border-color: transparent;
	background-color: transparent;
    border: none;
	font-weight: 500;
}
.tabs > li.active > a, .tabs > li.active > a:hover, .tabs > li.active > a:focus ,.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
    border-color: transparent;
	background-color: transparent;
    border: none; 
}
.tab-content{border: 2px solid #e0e0e0;}
.tab-content label { font-weight: normal;}

.checkbox {
  position: relative;
  top: 0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
      width: 20px;
    height: 20px;
	    display: initial;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
     left: 2px;
    top: 4px;
    z-index: 1;
    width: 15px;
    height: 7px;
  border: 2px solid #545454;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
 width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}

.dropdown-menu.with-arrow{width:300px;}
.dropdown-menu.with-arrow:before{
       content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFF;
    margin: -15px 0 0 30px;
    right: 15px;

}

.dropdown.usernameHere.open:after{
   content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    position: fixed;
    left: 0;
    z-index: 100;
	   }


.btn_blue{
    background: $mainBlue;
    padding: 10px !important;
    margin-top: 4px;
    color: #fff;
}

.btn_white{
    background: #fff;
    padding: 10px !important;
    margin-top: 4px;
    color: $mainBlue;
	border:1px solid $mainBlue;

}
.btn_white:focus, .btn_white.focus, .btn_white:active:focus, .btn_white:active, .btn_white.active, .btn_white.active.focus{
	background: $mainBlue;
    color: #fff;
}

.btn_blue:hover{
    color: #fff;
}

.vertival-tabs{
	li{width:100%;border-bottom: 1px solid #e0e0e0;
	&.active{    border-left: 6px solid $mainBlue;    border-top: 1px solid #e0e0e0;
	a{color:$mainBlue;}
	
	}
		a{
		border:none !important;padding: 15px 15px;color:$darkGrey;text-align: left;
		}
	}


}

.tag {
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    cursor: default;
    display: inline-block;
    height: 23px;
 
}

.tag .include {
    display: inline-block;
    color: #222;
    margin: 2px 5px;
    max-width: 325px;
    max-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    cursor: move;
}

.tgl {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;
  font-size: 14px;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl p {
    padding: 0 !important;
    margin: 0;
    display: inline-block;
	font-weight: 400;
}
.tgl span {
  position: relative;
  display: inline-block;
  height: 1.8em;
  line-height: 1.2em;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
  border-radius: 2em;
  padding: 0.2em 1em;
  border: 1px solid #fafafa;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
      margin-bottom: -5px;
}
.tgl span:before {
  position: relative;
  display: block;
  line-height: 1.3em;
  padding: 0 0.2em;
  font-size: 1em;
}
.tgl span:after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  margin-left: -1.45em;
  top: 0.2em;
  background: #FFFFFF;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
}
.tgl input[type="checkbox"] {
  display: none !important;
}
.tgl input[type="checkbox"]:not(:checked) + span {
  background: #de474e;
  color: #FFFFFF;
  padding-left: 1.6em;
  padding-right: 0.4em;
}
.tgl input[type="checkbox"]:not(:checked) + span:before {
  content: attr(data-off);
  color: #FFFFFF;
}
.tgl input[type="checkbox"]:not(:checked) + span:after {
  background: #FFFFFF;
  left: 1.6em;
}
.tgl input[type="checkbox"]:checked + span {
  background: $mainBlue;
  color: #FFFFFF;
  padding-left: 0.4em;
  padding-right: 1.6em;
}
.tgl input[type="checkbox"]:checked + span:before {
  content: attr(data-on);
}
.tgl input[type="checkbox"]:checked + span:after {
  background: #FFFFFF;
  left: 100%;
}
.tgl input[type="checkbox"]:disabled,
.tgl input[type="checkbox"]:disabled + span,
.tgl input[type="checkbox"]:read-only,
.tgl input[type="checkbox"]:read-only + span {
  cursor: not-allowed;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span {
  background: #e3e3e3;
  color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:before {
  color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
}
	
	
	
/* Custom */
.border_left_6_green{border-left: 6px solid $statusActive;}
.full-height{height:100%} 
.full-width{width:100%;}
.no-padd{padding:0}
.no-padd-i{padding:0 !important}

.padd-5{padding:5px;}
.padd-10{padding:10px;}
.padd-15{padding:15px;}
.padd-20{padding:20px;}
.padd-20i{padding:20px !important;}
.padd-25{padding:25px;}

.marg-5{margin:5px;}
.marg-10{margin:10px;}
.marg-15{margin:15px;}
.marg-20{margin:20px;}
.marg-25{margin:25px;}

.marg-t-5{margin-top:5px}
.marg-t-10{margin-top:10px}
.marg-t-15{margin-top:15px}
.marg-t-20{margin-top:20px}
.marg-t-25{margin-top:25px}
.marg-t-30{margin-top:30px}

.no-marg{margin:0;}
.marg-v-5{margin-top:5px;margin-bottom:5px}
.marg-v-10{margin-top:10px;margin-bottom:10px}
.marg-v-15{margin-top:15px;margin-bottom:15px}
.marg-v-20{margin-top:20px;margin-bottom:20px}
.marg-v-25{margin-top:25px;margin-bottom:25px}
.marg-v-30{margin-top:30px;margin-bottom:30px}

.marg-b-20{margin-bottom:20px}

.no-padd-h{padding-right:0;padding-left:0;}
.padd-5{padding:5px}
.padd-v-5{padding-top:5px;padding-bottom:5px}
.padd-v-10{padding-top:10px;padding-bottom:10px}
.padd-v-15{padding-top:15px;padding-bottom:15px}
.padd-v-20{padding-top:20px;padding-bottom:20px}
.padd-v-25{padding-top:25px;padding-bottom:25px}
.padd-v-30{padding-top:30px;padding-bottom:30px}
.padd-v-40{padding-top:40px;padding-bottom:40px}

.padd-h-5{padding-left:5px;padding-right:5px}
.padd-h-10{padding-left:10px;padding-right:10px}
.padd-h-15{padding-left:15px;padding-right:15px}
.padd-h-20{padding-left:20px;padding-right:20px}
.padd-h-25{padding-left:25px;padding-right:25px}
.padd-h-30{padding-left:30px;padding-right:30px}
.padd-h-40{padding-left:40px;padding-right:40px}

.txt-upper{text-transform:uppercase;}
.colorGrey{color:$borderGrey;}
.colordarkGrey{color:$darkGrey;}
.colormainBlue{color:$mainBlue;}
.fs-20{font-size:20px;}
.fs-36{font-size:36px;}
.bdr-tp-1{ border-top: 1px solid $borderGrey;}
.bdr-none{border:none;}
.bdr-none-i{border:none !important;}
.line-height{line-height:1.4;}
.overflow-s-x{overflow-x:scroll;}
.vertical-center{vertical-align: middle !important;}

@media screen and (max-width: 768px){
.tab-content{ margin-top: 50px;}


}
@media screen and (max-width: 480px){
	.login_bar {
		width:100%;
		.navbar-nav {
			margin: 0;
		}
	}
	.has-btn{height:auto !important;}
}