.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: transparent;
}

.navbar{
    margin-bottom: 30px;
}

.navbar-toggle{
    .icon-bar{
        position: relative;
        transition: all 300ms ease-in-out;
        
        &:nth-of-type(3){
            top: 1px;
        }
        &:nth-of-type(4){
            top: 2px;
        }
    }
    
    &.active .icon-bar{
        &:nth-of-type(2){
            top: 6px;
            transform: rotate(45deg);
        }
            
        &:nth-of-type(3){
            background-color: transparent;
        }
            
        &:nth-of-type(4){
            top: -6px;
            transform: rotate(-45deg);
        }
    }
}


.mainNavBar{
    background-color: $white;
    border-radius: 0;
    margin-bottom: 0;
    padding: 7.5px 15px;
    border-bottom: 2px solid $borderGrey;
    min-height: 75px;
}

#main_navigation{
    ul.nav{
            li{
                &.usernameHere{
                    padding: 6px 0 0;
                }
                
                a{
                    color: $darkGrey;
                    border-bottom: 2px solid transparent;
                    margin: 0 20px;
                    font-weight: 500;
                    -webkit-transition: border-color 0.35s, -webkit-transform 0.35s;
                        transition: border-color 0.35s, transform 0.35s;
                    
                    &.mainNavLinks{
                        @media screen and (min-width: 768px){
                             padding: 15px 0;
                        }
                        
                        @media screen and (min-width: 918px){
                            padding: 15px 30px;
                        }
                       
                        
                        svg#Layer_1{
                            margin: auto 10px -10px auto;
                        }
                    }
    
                        &:hover, &:focus, &.active{
                            color: $mainBlue;
                            background-color: transparent;
                            border-bottom: 2px solid $mainBlue;
                            
                            #mainNavIcon{
                                
                                .st0{
                                    stroke: $mainBlue;
                                }
                            }
                        }
                    
                }
            }
        }
    ul.dropdown-menu{
        border: 2px solid $borderGrey;
        box-shadow: none;
        border-radius: 2px;
        li{
            a{
                margin: 0 auto;
                &:hover, &:focus{
                    border-bottom: 2px solid transparent;
                }
            }
        }
    }
}


.navbar-brand{
    padding: 0;
    img{
        width: auto;
        padding: 2px 20px 2px 0;
        
        @media screen and (min-width: 240px){
            height: 60%;
            margin-top: 10px;
        }
        
        @media screen and (min-width: 300px){
            height: 70%;
            margin-top: 8px;
        }
        
         @media screen and (min-width: 640px){
            height: 74%;
             margin-top: 6px;
        }
        
        @media screen and (min-width: 840px){
            height: 100%;
             margin-top: 4px;
        }
    }
}

.userPic{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 50px;
    
    img{
        width: 30px;
        height: 30px;
         border-radius: 100%;
    }
}

.main_toggle{
    .icon-bar{
        background-color: $mainBlue;
    }
}