.subnav_btn_icon{
    position: absolute;
    padding-bottom: 10px;
    margin-left: -30px;
    margin-top: 5px;
}

.subNavBar{
    background-color: $subNavColor;
    height: 54px;
//    border-top: 2px solid $borderGrey;
    border-bottom: 2px solid $borderGrey;
    border-radius: 0;
}

#sub_navigation{
    padding: 0 15px;
    .navbar-nav{
        margin: 8px 0;
        
        li{
//            display: inline-block;
            
            a{
                display: block;
//                padding: 0;
                padding-top: 0 !important;
            }
        }
        
        
        select, input{
            box-shadow: none;
            color: $darkGrey;
            border: 2px solid $borderGrey;
            border-radius: 2px;
            padding: 4px 12px;
            /*min-width: 120px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none; */
            &:focus{
                box-shadow: none;
                border: 2px solid $mainBlue;
            }
        }
    }
  
}
