
$loadDelays: .1s, .2s, .3s, .4s, .5s, .6s, .7s, .8s;

@for $i from 1 through length($loadDelays){
    .listingWrap:nth-child(#{length($loadDelays)}n+#{$i}) {
        -webkit-animation-delay: (nth($loadDelays, $i));
        -moz-animation-delay: (nth($loadDelays, $i));
       animation-delay: (nth($loadDelays, $i));
    }
}

.wow{
    visibility: hidden;
}

.listingWrap{
    @include fadeInUp(
    $duration: 1s,
    $function: ease, 
    $fill: both
  );
}
