﻿@model Offer.Models.Dashboard.DashboardView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="row">
                <div class="col-lg-12">
                    <img src="@Url.Content("~/Content/images/demo/dashboard_charts.png")" />
                </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->