﻿  
@model List<Offer.Models.Offer.OfferGridItem>
<!--Comapre-->

    <div class="full-width padd-10 pull-left">
        <h3 class="col-sm-12 col-xs-12 no-marg no no-padd full-width text-center-xs colormainBlue ">
            <i class="material-icons icon_has_topic fs-36">compare</i>
            <span class="topic_has_icon padd-h-40 float-r-sm">Compare</span>
        </h3>
    </div>
    <div class="col-lg-12 col-xs-12">
        <button class="next_btn" id="close_list_compair" onclick="CancelCompare()"><i class="material-icons icon_has_topic" style="transform:rotate(180deg)">play_circle_filled</i> Back to Offer List </button>
    </div>
    <div class="table-responsive col-xs-12 marg-v-20">
        <table class="table table-striped table-bordered compare_table">
            <tbody>
                <tr>
                    <td class="padding_tabale titile_comapirs">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td class="comair_num colormainBlue"> <h3>&nbsp;</h3></td>
                                </tr>
                                <tr>
                                    <th>Buyer 1</th>
                                </tr>
                                <tr>
                                    <th>Buyer 2</th>
                                </tr>
                                <tr>
                                    <th>Buyer's Agent</th>
                                </tr>
                                <tr>
                                    <th>Submited</th>
                                </tr>
                                <tr>
                                    <th>Expiration</th>
                                </tr>
                                <tr>
                                    <th>Current Offer Stage</th>
                                </tr>
                                <tr>
                                    <th>Offer Status</th>
                                </tr>
                                <tr>
                                    <th>Purchase Price</th>
                                </tr>
                                <tr>
                                    <th>Earnest Deposit</th>
                                </tr>
                                <tr>
                                    <th>Closing Credits</th>
                                </tr>
                                <tr>
                                    <th>Laon Amount</th>
                                </tr>
                                <tr>
                                    <th>Loan Type</th>
                                </tr>
                                <tr>
                                    <th>Close of Escrow</th>
                                </tr>
                                <tr>
                                    <th>Contingent?</th>
                                </tr>



                            </tbody>
                        </table>
                    </td>
                    @{int i = 1;}
@foreach (var item in Model)
            {
                    <td class="padding_tabale" id="cmpcolum-@i">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td class="comair_num colormainBlue"> <h3>@i</h3></td>
                                </tr>
                                <tr>
                                    <td>Buyer one</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Ryan Werts</td>
                                </tr>
                                <tr>
                                    <td>@String.Format("{0:dd MMM. yyyy}", item.OfferExpiryDate)</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Seller Counter 2</td>
                                </tr>
                                <tr>
                                    <td>@item.offerstatus</td>
                                </tr>
                                <tr>
                                    <td>$@string.Format("{0:n0}", item.PurchasePrice)</td>
                                </tr>
                                <tr>
                                    <td>$@string.Format("{0:n0}", item.Deposite)</td>
                                </tr>
                                <tr>
                                    <td>$@string.Format("{0:n0}", item.ClosingCost)</td>
                                </tr>
                                <tr>
                                    <td>$@string.Format("{0:n0}", item.LoanAmount)</td>
                                </tr>
                                <tr>
                                    <td>@item.Financing</td>
                                </tr>
                                <tr>
                                    <td>@item.CloseofEscrow Days</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td><button class="icons_rel btn no-padd btn_blue delet_com" onclick="RemoveOffer(@i)"> <i class="material-icons icon_has_topic">delete</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>  i++;
}
                </tr>
            </tbody>
        </table>
    </div>
<script>
    function RemoveOffer(i)
    {
        $('#cmpcolum-'+ i).remove();
    }

    function CancelCompare()
    {
        $('#compair_main').hide();       
        $('#offerlistdiv').show();

    }
</script>