﻿@model List<Offer.Models.Buyer.BuyerGroupItem>


@foreach (var item in Model)
{

    <div class="col-md-4">
        <div class=" col-lg-12 listingBox status_active padd-10 ">
            <div class="col-md-12 col-xs-12 text-center ">

                <div class="col-md-12 col-xs-12 text-center">
                    <select name="color-scheme" class="form-control drpstatus">

                        <option selected value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Escrow">Escrow</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
              
                    <p class="colordarkGrey">Buyers</p>
                    @foreach (var a in item.BuyersList)
                    {  <div class="col-md-12 col-xs-12 entry text-center">

                        <span class="pull-left text-center">

                            @a.Firstname  @a.Lastname
                        </span>
                        <span class="pull-right text-center">

                            @a.Phone
                        </span>
                    </div>
                    }
                    
                <div class="col-md-12 col-xs-12 entry text-center">
                    <p class="colordarkGrey">Search Areas</p>
                    <a href="/Buyer/Detail/@item.BuyerGroupId" class="btn ctaBtn btn_mainBlue nextBtn save_btn">
                        <span class="topic_has_icon">@item.SearchAreas</span>
                    </a>
                </div>



                <div class="col-md-12 col-xs-12 text-center heading_status">
                    <p class="colordarkGrey ">Buyers Agent</p>

                    <strong class="colordarkGrey ">@item.AgentFirstname @item.AgentLastname</strong>

                </div>

                <div class="col-md-12 col-xs-12 entry">


                    @{int i = 0;}

                    @foreach (var data in item.OfferGroups.OfferGroupItems)
                {

                    if (data.Status == "new")
                    {
                        i++;
                    }
                    else
                    {

                    }

                }


                    <span class="pull-left text-center">

                        <span class="topic_has_icon"><strong> 0 </strong>In Process </span>
                    </span>
                    <span class="pull-right text-center">

                        <span class="topic_has_icon"> <strong>@item.OfferGroups.OfferGroupItems.Count() </strong> Placed </span>
                    </span>
                </div>
            </div>
        </div>
        </div>
        }
