﻿@model Offer.Models.Buyer.BuyerGroupItem

@using (Html.BeginForm("EditBuyerGroup", "Buyer", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
{    @Html.HiddenFor(m => m.BuyerGroupId)

    <div class=" col-lg-12 listingBox status_active padd-10 ">
        <div class="col-md-12 col-xs-12 text-center ">
            <select name="color-scheme" class="form-control drpstatus">

                <option selected value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Escrow">Escrow</option>
                <option value="Closed">Closed</option>
            </select>
            
        </div>

        

        <div class="col-md-12 col-xs-12 entry text-center">
            <p class="colordarkGrey">Search Areas</p>
            @Html.TextAreaFor(m => m.SearchAreas, new { @class = "form-control", placeholder = "Search Areas", required = "required" })
        </div>
        <div class="col-md-12 col-xs-12 text-center heading_status">
            <p class="colordarkGrey ">Listing Agent</p>
            <h4><strong>@Model.AgentFirstname  @Model.AgentLastname</strong></h4>
            <p class="colordarkGrey ">test</p>
            <p class="colordarkGrey ">@Model.AgentPhone</p>
            <p>@Model.AgentEmail</p>
        </div>
        <div class="col-md-12 col-xs-12  text-center">
            <span class="pull-left text-center">

                <span class="topic_has_icon">
                    Email Notification <br> <select name="color-scheme" class="form-control drpstatus">

                        <option selected value="Yes">Immediately</option>
                        <option value="No">Delayed</option>

                    </select>
                </span>
            </span>
            <span class="pull-right text-center">

                <span class="topic_has_icon">
                    Text Notification <br>
                    <input type="checkbox" disabled="">
                </span>
            </span>
        </div>
        <div class="col-md-12 col-xs-12  entry">
            <span class="pull-left text-center">
                Creation Date <br> <strong>@String.Format("{0:dd MMM. yyyy}", Model.DateCreated)</strong>
            </span>
            <span class="pull-right text-center">
                <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper " type="submit"> Edit  </button>
            </span>
        </div>

        <div class="col-md-12 col-xs-12">
            @*<p class="colorGrey">Offer Instructions</p>*@
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextAreaFor(m => m.BuyerNote, new { @class = "form-control", placeholder = "Buyer Note", required = "required" })
                </div>
            </div>
        </div>
    </div>

}