﻿
<div class="modal fade" id="offer_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title models">Create New Counter Offer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12 ">
                        <div class="form-group move_down_group full_width text-left ">
                            <div class="input-group radio-inline">
                                <input id="same" class="radio-custom" name="1" type="radio">
                                <label for="same" class="radio-custom-label">Buyer Counter (to seller)</label>
                                &ensp;
                                <input id="sameListinga" class="radio-custom" name="1" type="radio">
                                <label for="sameListinga" class="radio-custom-label">Seller Counter (to buyer)</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="title_new_offer">&nbsp;</div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Purchase Price:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$6,363,463">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Earnest Deposit:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$4,653,464">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Loan Amount:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$643,634,634">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Loan Type:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="Cash">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Closing Credits</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$46,346">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Close of Escrow:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="64">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Contingent on sale of buyer's property?</label>
                                <div class="col-sm-6 padd-5">
                                    <div class="form-group move_down_group padd-h-15 padd-v-5">
                                        <div class="input-group">
                                            <input id="sameas" class="checkbox-custom" name="sameListing" type="checkbox" required="required">
                                            <label for="sameas" class="checkbox-custom-label compirall" style="padding:0px 0px">Yes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Counter expires on:</label>
                                <div class="col-sm-6 padd-5">
                                    <div class="input-group date  full_width ">
                                        <input type="text" class="form-control" id="card_expire_date" required="required" placeholder="05/05/2017">
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="title_new_offer">Original Offer</div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$6,363,463" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$4,653,464" disabled>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$643,634,634" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="Cash" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$46,346" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="64 Days" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="No" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <div class="input-group date  padd-v-10 ">

                                    <input type="text" class="form-control" id="card_expire_time" required="required" placeholder="05/05/2017">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <textarea class="form-control" rows="4" placeholder="Enter Counter Offer Comments" style="resize:none"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group full_width" style="position:relative">
                                <textarea class="form-control" style="resize:none" placeholder="Drop files here to upload (or click)" rows="4"></textarea>
                                <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;">
                            </div>
                        </div>
                    </div>

                    <button class="btn ctaBtn btn_mainBlue save_btn padd-h-15 full-width txt-upper ">Submit Counter Offer</button>

                </div>
            </div>

        </div>
    </div>
</div>