﻿@{
    Layout = null;
}
@model Offer.Models.Offer.OfferGridItem
<div class="full-width padd-10 pull-left">
    <h3 class="col-sm-12 col-xs-12 no-marg no no-padd full-width text-center-xs colormainBlue ">
        <i class="material-icons icon_has_topic fs-36">zoom_out_map</i>
        <span class="topic_has_icon padd-h-40 float-r-sm">Offer Detials</span>
    </h3>
</div>

<div class="offer_main_box padd-v-5">
    <div class="stage_conter pull-right"><button class="btn ctaBtn btn_mainBlue save_btn padd-h-15 txt-upper icons_rel" data-toggle="modal" data-target="#offer_new "> <i class="material-icons icon_has_topic">loop</i> Send counter offers</button></div>
    <div class="col-lg-12 col-xs-12">
        <button class="next_btn" id="close_list" onclick="CancelOfferDetail()"><i class="material-icons icon_has_topic" style="transform:rotate(180deg)">play_circle_filled</i> Back to Offer List </button>
    </div>

    <div class="col-lg-1">
        &nbsp;
    </div>

    <div class="col-lg-3 padd-5">
        <div class="main_divs"><strong>Offer 1</strong> from</div>
        <div class="main_divs">Original Offer</div>
        <div class="main_divs">Expires: @String.Format("{0:dd MMM. yyyy}", Model.OfferExpiryDate)</div>
        <ul class="no-marg">
            <li>
                <select name="color-scheme" id="drpoffsts-@Model.OfferId" class="form-control drpoffsts">
                    @foreach (var sta in ViewBag.StatusResult)
                    {
                        if (Model.offerstatus == sta.Code)
                        {
                            <option selected="@sta.Code" value="@sta.Code">@sta.DisplayName</option>
                        }
                        else
                        {
                            <option value="@sta.Code">@sta.DisplayName</option>
                        }
                    }

                </select>
            </li>
        </ul>
    </div>


    <div class="col-lg-3 padd-5">
        <div class="main_divs">
            <div class="title_offers">Purchase Price: </div>
            <div class="details_offers">&nbsp; $@string.Format("{0:n0}", Model.PurchasePrice)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Deposit: </div>
            <div class="details_offers">&nbsp;$@string.Format("{0:n0}", Model.Deposite)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Closing Credits: </div>
            <div class="details_offers">&nbsp;$@string.Format("{0:n0}", Model.ClosingCost)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Contingent: </div>
            <div class="details_offers">&nbsp;@Model.Contingent </div>
        </div>
    </div>


    <div class="col-lg-3 padd-5">
        <div class="main_divs">
            <div class="title_offers">Financing: </div>
            <div class="details_offers">&nbsp;@Model.Financing </div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Loan Amount: </div>
            <div class="details_offers">&nbsp;$@string.Format("{0:n0}", Model.LoanAmount)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Close of Escrow: </div>
            <div class="details_offers">&nbsp;@Model.CloseofEscrow Days</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Buyer's Agent: </div>
            <div class="details_offers">&nbsp;ryan werts</div>
        </div>
    </div>



    <div class="col-lg-1 ">


        <div class="main_divs"><a href="javascript:void(0);"><i class="material-icons icon_has_topic">loop</i></a></div>
        <div class="main_divs">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
                <i class="material-icons icon_has_topic">insert_drive_file</i>
            </a>
        </div>
        <div class="main_divs">
            <a href="javascript:void(0);" id="notesedit"><i class="material-icons icon_has_topic">sms</i></a>
        </div>
    </div>


    <div class="col-lg-1">
        <div class="form-group move_down_group pull-right">
            <div class="input-group">
                <input id="select21" class="checkbox-custom" name="sameListing" type="checkbox" checked required="required">
                <label for="select21" class="checkbox-custom-label compirall marg-t-25"></label>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-xs-12">
        <div class="comment_titile" id="notesedit1">
            Note
            <textarea class="full-width" rows="2">@Model.Note</textarea>
            <div class="save_close" id="closwsmsedit"><i class="material-icons icon_has_topic">close</i> Save And Close</div>
        </div>
    </div>

</div>


<div class="col-xs-12 no-padd">
    <div class="table-responsive ">
        <table class="table table-striped totle_offer">
            <thead>
                <tr>
                    <th>Offer Stage</th>
                    <th>Date Received</th>
                    <th>Purchase Price</th>
                    <th>Deposit</th>
                    <th>Closing Credits</th>
                    <th>Loan Amount / Type</th>
                    <th>Close of Escrow</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Original Offer</td>
                    <td>4/18/17, 11:20 am</td>
                    <td>$6,363,463</td>
                    <td>$4,653,464</td>
                    <td>$46,346</td>
                    <td>$643,634,634 - Cash</td>
                    <td>64 Days <a href="javascript:void(0);" class="pull-right padd-h-20" id="noteslist1"><i class="material-icons icon_has_topic">sms</i></a></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="col-lg-12 col-xs-12">
                            <div class="comment_titile" id="noteseditlist1">
                                Note
                                <textarea class="full-width" rows="2"></textarea>
                                <div class="save_close" id="closwsmseditlist"><i class="material-icons icon_has_topic">close</i> Save And Close</div>
                            </div>
                        </div>
                        <div class="pull-right">Sent on Apr 18, 2017 11:20 am</div>
                    </td>
                </tr>
                <tr>
                    <td>Original Offer</td>
                    <td>4/18/17, 11:20 am</td>
                    <td>$6,363,463</td>
                    <td>$4,653,464</td>
                    <td>$46,346</td>
                    <td>$643,634,634 - Cash</td>
                    <td>64 Days <a href="javascript:void(0);" class="pull-right padd-h-20" id="noteslist2"><i class="material-icons icon_has_topic">sms</i></a></td>
                </tr>

            <td colspan="7">
                <div class="col-lg-12 col-xs-12">
                    <div class="comment_titile" id="noteseditlist_2">
                        Note
                        <textarea class="full-width" rows="2"></textarea>
                        <div class="save_close" id="closwsmseditlist2"><i class="material-icons icon_has_topic">close</i> Save And Close</div>
                    </div>
                </div>
                <div class="pull-right">Sent on Apr 18, 2017 11:20 am</div>
            </td>
            </tbody>
        </table>
    </div>

</div>
<script>
    function CancelOfferDetail() {
        $('#offerdetail').hide();
        $('#offerlistdiv').show();

    }
</script>
