﻿@model List<Offer.Models.Buyer.BuyerItem>
@*<button type="button" onclick="NewSeller()" class="btn btn-outline btn-primary btn-sm">New Seller</button>*@
<div class="col-sm-12">
    <button class="btn ctaBtn btn_mainBlue  border_btn col-md-3 col-xs-12 no-padd txt-upper text-center" onclick="NewBuyer()"><i class="material-icons icon_has_topic fs-20">group_add</i><span class="topic_has_icon">New Buyer</span></button>
</div>

    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        <div class="col-sm-6 text-center col-xs-12 marg-t-15" id="seller-@item.BuyerId">
            <div class="boxesPadding_full no-padd pull-left">
                <div class="no-padd pull-left edit ">
                    <div class="saller_img">
                        <img src="~/Content/images/demo/user.jpg" alt="">
                    </div>
                    <div class="saller_name">
                        <h4 class="pull-left padd-v-10 padd-h-10 full-width ">
                            @item.Firstname @item.Lastname
                        </h4>
                    </div>
                    <div class="edit-del padd-v-20 ">
                        <span>
                            <a href="javascript:void(0);" id="edit_one" onclick="EditBuyer(@item.BuyerId)">
                                <i class="material-icons colordarkGrey" >edit</i>
                            </a>
                        </span>
                        <span>
                            <a href="javascript:void(0);" onclick="EditBuyer(@item.BuyerId)">
                                <i class="material-icons colordarkGrey">delete</i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12  bdr-tp-1  padd-v-5">
                    @item.Phone
                </div>
                <div class="col-md-12 col-xs-12  padd-v-5">
                    @item.Email
                </div>
                <div class="col-md-12 col-xs-12  padd-v-5">
                    <p>@item.Note</p>
                </div>

                <div class="col-md-12 col-xs-12  padd-v-10">
                    <button class="btn ctaBtn btn_mainBlue save_btn">Buyer #@i</button>
                </div>

            </div></div>i++;
        }

        @*<div class="table-responsive">
                <table id="listingsellerTable" class="table table-bordered" style="width:100% !important">
                    <thead>
                        <tr class="btn_blue">
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">State</th>
                            <th class="text-center">City</th>
                            <th class="text-center">Postal Code</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                    <tr class="text-danger">
                        <td>@item.Firstname</td>
                        <td>@item.Lastname </td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.State</td>
                        <td>@item.City</td>
                        <td>@item.PostalCode</td>
                        <td><a href="/Listing/EditSeller?SellerId=@item.SellerId">Edit</a><a href="/Listing/DeleteSeller?SellerId=@item.SellerId">Delete</a></td>
                    </tr>
                    }

                    </tbody>
                </table>
            </div>*@




        <script>
            $(document).ready(function () {

                $('#listingsellerTable').DataTable();

            });



        </script>
