﻿@model Offer.Models.Buyer.BuyerGroupItem

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/styles/other.css" rel="stylesheet" />
<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <ul class="you_are_here">
                        <li class="hidden-xs go_back_home"><a href="/Buyer/Index">Home</a></li>
                        <li class="hidden-xs"><i class="material-icons">navigate_next</i></li>
                        <li class="hidden-xs">Buyer Group Detail</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="listingView_sellerTab" class="marg-b-20">
    <div class="container">
        <div class="col-md-4" id="buygrpdetail">
            <div class=" col-lg-12 listingBox status_active padd-10 ">
                <div class="col-md-12 col-xs-12 text-center ">
                    <select name="color-scheme" class="form-control drpstatus">

                        <option selected value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Escrow">Escrow</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <div class="">
                        <a href="javascript:void(0);" >
                            <i class="material-icons icon_has_topic" style="font-size: 16px;">edit</i>
                        </a>
                    </div>
                </div>

                @foreach (var a in Model.BuyersList)
                {  <div class="col-md-12 col-xs-12 entry text-center">

                    <span class="pull-left text-center">

                        @a.Firstname  @a.Lastname
                    </span>
                    <span class="pull-right text-center">

                        @a.Phone
                    </span>
                </div>
                }

                <div class="col-md-12 col-xs-12 entry text-center">
                    <p class="colordarkGrey">Search Areas</p>
                    <button href="/Buyer/Detail/@Model.BuyerGroupId" class="btn ctaBtn btn_mainBlue nextBtn save_btn" onclick="EditBuyerGroup();">
                        <span class="topic_has_icon">@Model.SearchAreas</span>
                    </button>
                </div>
                <div class="col-md-12 col-xs-12 text-center heading_status">
                    <p class="colordarkGrey ">Listing Agent</p>
                    <h4><strong>@Model.AgentFirstname  @Model.AgentLastname</strong></h4>
                    <p class="colordarkGrey ">test</p>
                    <p class="colordarkGrey ">@Model.AgentPhone</p>
                    <p>@Model.AgentEmail</p>
                </div>
                <div class="col-md-12 col-xs-12  text-center">
                    <span class="pull-left text-center">

                        <span class="topic_has_icon">
                            Email Notification <br> <select name="color-scheme" class="form-control drpstatus">

                                <option selected value="Yes">Yes</option>
                                <option value="No">No</option>

                            </select>
                        </span>
                    </span>
                    <span class="pull-right text-center">

                        <span class="topic_has_icon">
                            Text Notification <br>
                            <input type="checkbox" disabled="">
                        </span>
                    </span>
                </div>
                <div class="col-md-12 col-xs-12  entry">
                    <span class="pull-left text-center">
                        Creation Date <br> <strong>@String.Format("{0:dd MMM. yyyy}", Model.DateCreated)</strong>
                    </span>
                    <span class="pull-right text-center">
                        <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper " onclick="newOfferGroup();"> Place Offer </button>
                    </span>
                </div>

                <div class="col-md-12 col-xs-12">
                    @*<p class="colorGrey">Offer Instructions</p>*@
                    <div class="form-group">
                        <div class="input-group full_width">
                            <span>@Model.BuyerNote </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="buyedit" style="display:none;" class="col-md-4"> </div>
        <div class="col-md-8">
            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav tabs" role="tablist">

                    <li role="presentation" class="active"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab">Offers</a></li>
                    <li role="presentation"><a href="#buyers" aria-controls="buyers" role="tab" data-toggle="tab">Buyers</a></li>
                    <li role="presentation"><a href="#file_cabinate" aria-controls="file_cabinate" role="tab" data-toggle="tab">File Cabinate</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content no-padd col-xs-12 padd-v-10">
                    <div role="tabpanel" class="tab-pane active  colordarkGrey" id="offers">
                        <div id="offerlistdiv" class="maindiv">



                        </div>
                        <div id="offerdetail" style="display:none;">
                        </div>
                        <div class="col-xs-12" id="compair_main" style="display:none;">
                        </div>
                        <div id="NewOfferGroup">
                        </div>
                    </div>
                   
                  
                    <div role="tabpanel" class="tab-pane colordarkGrey" id="buyers">
                        <div class="col-sm-12">
                            <div id="buylistdiv" class="marg-10">

                            </div>
                            <div id="buyformddiv" style="display:none;"></div>
                            <div id="buyedit" style="display:none;"></div>
                        </div>
                     
                        </div>
                    <div role="tabpanel" class="tab-pane  colordarkGrey" id="file_cabinate">

                        <div class="col-xs-12">
                            <div class="boxesPadding_full full-width padd-10 pull-left">
                                <form class="page_form" method="post" action="/Listing/FileCabinate" enctype="multipart/form-data">
                                    <h3 class="col-sm-12 col-xs-12 no-marg no no-padd full-width text-center-xs colormainBlue ">
                                        <i class="material-icons icon_has_topic fs-36">folder</i>
                                        <span class="topic_has_icon padd-h-40 float-r-sm">Listing File Cabinate</span>
                                    </h3>

                                    <div class="col-xs-11 col-xs-offset-1 ">
                                        <div class="boxesTopic  no-padd full-width marg-v-20">
                                            <i class="material-icons icon_has_topic colormainBlue">account_circle</i>
                                            <span class="topic_has_icon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, labore et dolore magna aliqua.</span>
                                        </div>

                                        <div class=" col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group full_width" style="position:relative">
                                                    <textarea class="form-control" style="resize:none" for="filecabinate" placeholder="Drop offer, pre-approval and proof of fund to close here (or click to upload)" rows="4"></textarea>
                                                    <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" name="filecabinate" multiple>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12  padd-v-10">
                                            <button type="submit" class="btn ctaBtn btn_mainBlue save_btn">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts {

    <script src="~/Scripts/Views/Offer/NewOfferGroup.js"></script>

    <script>

    function NewBuyer() {
        $.ajax({
            url: '/Buyer/NewBuyer/?BuyerGroupId=' + @Model.BuyerGroupId,
            success: function (data) {
                $('#buyformddiv').html(data);
                $('#buylistdiv').hide();
                $('#buyformddiv').show();
            }
        });
    }
    function newOfferGroup() {
        alert('hi');
        $.ajax({
            url: '/Offer/NewOfferGroup?ListingID=' + @Model.BuyerGroupId +'&OfferType=BuyerOfferGroup' ,
            success: function (data) {
                $('#NewOfferGroup').html(data);
                $('#NewOfferGroup').show();
                $('#offerlistdiv').hide();
            }
        });
    }

    function cancelNewOfferGroup() {
        $('#OfferList').show();
        $('#NewOfferGroup').hide();
    }

    function cancelNewBuyer() {
        $('#buylistdiv').show();
        $('#buyformddiv').hide();
    }


    function EditBuyerGroup() {
        alert('hi');
        $('#buyedit').load('/Buyer/_EditBuyerGroup?BuyerGroupId=' + @Model.BuyerGroupId);
        $('#buyedit').show();
        $('#buygrpdetail').hide();
    }

    function CancelEdit() {
        $('#listing-edit').hide();
        $('#listing-detail').show();
    }
    function EditBuyer(Id)
    {
        $.ajax({
            url: '/Buyer/EditBuyer?BuyerId=' + Id,
            success: function (data) {
                $('#buyedit').html(data);
                $('#buyedit').show();
                $('#buylistdiv').hide();
                $('#buyformddiv').hide();
            }
        });
    }


    function ShowEdit() {
        $('#listing-edit').show();
        $('#listing-detail').hide();
    }
    $('#listingOfferTable').DataTable();
    $('#listingbuyerTable').DataTable();

    $(document).ready(function () {
        $('#listingOfferTable').DataTable();
        $('#offerlistdiv').load('/Buyer/_DisplayOffer?BuyerGroupId=' + @Model.BuyerGroupId);
        $('#buylistdiv').load('/Buyer/BuyerList?Id=' + @Model.BuyerGroupId);
        $('#buyformddiv').load('/Buyer/NewBuyer?BuyerGroupId=' + @Model.BuyerGroupId);


    });
    </script>
}






