﻿@model  DubTech.Framework.Ef.Buyer
@{
    Layout = null;
    }

@using (Html.BeginForm("EditBuyer", "Buyer", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
{  @Html.HiddenFor(m => m.BuyerId)
    @Html.HiddenFor(m => m.BuyerGroupId)
    <div class="col-sm-6 text-center col-xs-12 marg-t-15" id="edit_one">
        <div class="saller_img_edit">
            <img src="~/Content/images/demo/user.jpg" alt="">
            <button class="btn ctaBtn btn_mainBlue save_btn">
                <span for="dev">change</span>
                <input id="dev" type="file" />
            </button>
        </div>

        <div class="saller_name_edit padd-h-10 padd-v-10">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control required", placeholder = "First Name" })

                </div>
            </div>
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control required", placeholder = "Last Name" })
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12  bdr-tp-1 padd-10">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control required", placeholder = "Phone" })
                </div>
            </div>

            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", placeholder = "Email" })
                </div>
            </div>

        </div>
        <div class="col-md-12 col-xs-12  padd-10">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "Buyer's Note", required = "required" })
                </div>
            </div>

        </div>
        <div class="col-md-12 col-xs-12  padd-v-10">

            <button type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn" id="submitseller">Save Changes</button>
            <button class="btn ctaBtn btn_mainBlue cancel_btn close_me" type="button" onclick="CancelEdit()" >Cancel</button>
            
        </div>
    </div>
}




