﻿@model  Offer.Models.Buyer.NewBuyerModel
@{
    Layout = null;
    int BgId = Convert.ToInt32(TempData["BuyerGroupId"]);
}

<script>
    $(documemt).ready(function () {
        $('#BuyerGroupId').val(@BgId);
    });
</script>
@*<script>
        $('#submitseller').click(function ()
        {
            alert('hi');
            $.ajax({
                type: "POST",
                url: "Listing/NewSeller",
                data: $("FRM").serialize(),
                dataType:"json",
                success: function(resultData){
                    alert("Save Complete");
                    $('#sellistddiv').load('/Listing/SellersList?ListingID=' +  @ListId;
                }
            });
    </script>*@  


@using (Html.BeginForm("NewBuyer", "Buyer", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
{    @Html.HiddenFor(m => m.BuyerGroupId, new { id = "BuyerGroupId" })
    <div class="col-sm-6 text-center col-xs-12 marg-t-15">
        <div class="boxesPadding_full no-padd pull-left">
            <div class="saller_img_edit">
                <img src="~/Content/images/demo/user.jpg" id="sellerimg" />
                <button class="btn ctaBtn btn_mainBlue">
                    <span for="dev">Change </span>
                    <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" id="dev" />
                </button>

            </div>
            <div class="saller_name_edit padd-h-10 padd-v-10">
                <div class="form-group">
                    <div class="input-group half_padding">
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", placeholder = "First Name", required = "required" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group half_padding">
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", placeholder = "Last Name", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12  padd-10">

                <div class="form-group">
                    <div class="input-group full_width">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12  padd-10">
                <div class="form-group">
                    <div class="input-group full_width">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-xs-12  padd-10">
                <div class="form-group">
                    <div class="input-group full_width">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "Buyer's Note", required = "required" })
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-xs-12  padd-v-10">

                <button type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn" id="submitseller">Save Changes</button>
                <button class="btn ctaBtn btn_mainBlue cancel_btn close_me" onclick="cancelNewBuyer()">Cancel</button>

                
            </div>
        </div>
    </div>
}



