﻿
<div>

@using (Html.BeginForm("Step1", "Register", FormMethod.Post))
{
    <div class="registration-box">
        <h3>1. Sign Up</h3>
        <div class="form-fields">
            @Html.ValidationSummary()

            <label for="Username">Username</label> <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" required="required"> <br />
            <label for="Password">Password</label> <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required="required"> <br />
            <label for="ConfirmPassword">ConfirmPassword</label> <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required="required"> <br />
            <label for="Email">Email</label> <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required="required"> <br />
            <label for="Firstname">Firstname</label><input type="text" class="form-control" id="Firstname" name="Firstname" placeholder="First name" required="required"> <br />
            <label for="Lastname">Lastname</label><input type="text" class="form-control" id="Lastname" name="Lastname" placeholder="Last name" required="required"> <br />
            <label for="CompanyName">CompanyName</label> <input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="CompanyName" required="required"> <br />
            <input type="submit" value="Next" title="Next" class="std-button" />
        </div>

        <div class="clear"></div>
    </div>
}

</div>