﻿@model Offer.Models.Register.ConfirmationView

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>
<br /><br />
Thanks you.  <a href="/">Continue to Site</a>