﻿@model Offer.Models.Register.Step1View

@{
    ViewBag.Title = "Step1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Step1", "Register", FormMethod.Post))
{
    <div class="registration-box">
        <h3>1. Sign Up</h3>
        <div class="form-fields">
            @Html.ValidationSummary()

            <label for="Email">Email</label> <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required="required" value="@Model.Email"> <br />
                <label for="Password">Password</label> <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required="required" value="@Model.Password"> <br />
                    <label for="ConfirmPassword">ConfirmPassword</label> <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required="required" value="@Model.Password"> <br />
                
                <label for="Firstname">Firstname</label><input type="text" class="form-control" id="Firstname" name="Firstname" placeholder="First name" required="required" value="@Model.Firstname"> <br />
                <label for="Lastname">Lastname</label><input type="text" class="form-control" id="Lastname" name="Lastname" placeholder="Last name" required="required" value="@Model.Lastname"> <br />
                <label for="CompanyName">CompanyName</label> <input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="CompanyName" required="required" value="@Model.CompanyName"> <br />
                <input type="submit" value="Next" title="Next" class="std-button" />
</div>
        
        <div class="clear"></div>
    </div>
}
