﻿@model Offer.Models.Register.BillingView

@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Step2</h2>

@using (Html.BeginForm("Step2", "Register", FormMethod.Post))
{

    <div class="registration-box">
        <div class="form-fields">

            @Html.ValidationSummary()

            
            <label for="CardType">Card Type</label><input type="text" class="form-control" id="CardType" name="CardType" placeholder="CardType" required="required" value="@Model.CardType"> <br />
            <label for="CreditCardNumber">Credit Card Number</label><input type="text" class="form-control" id="CreditCardNumber" name="CreditCardNumber" placeholder="CreditCardNumber" required="required" value="@Model.CreditCardNumber"> <br />
            <label for="ExpirationMonth">Expiration Month</label><input type="number" class="form-control" id="ExpirationMonth" name="ExpirationMonth" placeholder="ExpirationMonth" required="required" value="@Model.ExpirationMonth"> <br />
            <label for="ExpirationYear">Expiration Year</label><input type="number" class="form-control" id="ExpirationYear" name="ExpirationYear" placeholder="ExpirationYear" required="required" value="@Model.ExpirationYear"> <br />
            <label for="NameOnCard">Name on Card</label><input type="text" class="form-control" id="NameOnCard" name="NameOnCard" placeholder="NameOnCard" required="required" value="@Model.NameOnCard"> <br />
            
            @Html.HiddenFor(m => m.RegistrationCode)
            <br />
            <input id="submitButton" type="submit" value="Start Free Trial" title="submit" class="std-button" />
        </div>

        
        <div class="clear"></div>

    </div>
}



@section scripts {
    <script>
        
    
    </script>
    }