﻿@model Offer.Models.Offer

<section class="marg-b-20">

    <div class="col-md-12 col-xs-12">
        <span class="topic_has_icon">
            Thank you, your offer has been submitted.
            <br />
            <br />
            You may review your offer at anytime by
            visiting the following URL:
            <br />
            <br />
            <a href="http://localhost:58715/SubmissionHub/ViewOffer?OfferUniqueNo=@Model.UniqueId">
                Click Here to continue (take offer to ViewOffer page)
            </a>

        </span>
    </div>
</section>
