﻿@model Offer.Models.Offer.NewInquiryModel

<div class="row ">

    <div class="col-md-8  col-xs-12">
        <div class="boxesPadding_full boxesPadding col-xs-12 no-padd">
            <h4 class="boxesTopic entry ">
                <span class="">Property Information</span>
            </h4>
            <div class="padd-20 col-xs-12">
                <div class="col-md-6 col-xs-12">
                    <p>
                        <strong>@Model.BuyerFirstName</strong><br>
                       @Model.Email<br>
                        @Model.PhoneNo Phone No<br>
                        $@Model.PurchasePrice Purchase Price<br>
                        $@Model.DownPayment Down Payment<br>
                        FHA Financing<br>
                        @Model.ClosingCost (Closing Cost Help)<br>
                        @Model.CloseofEscrow Days Escrow
                    </p>
                </div>

                <div class="col-md-6 col-xs-12">
                    <p>
                       
                        Working with Lender - @(Model.Lender == true ? "Yes" : "No") <br>
                        Loan pre-approval -@(Model.PreApproval == true ? "Yes" : "No") <br>
                        Need to Sell - @(Model.SellerBuyHome == true ? "Yes" : "No") <br>
                        Seen interior - @(Model.Interior == true ? "Yes" : "No") <br>
                        Schdule Tour -@(Model.Schedule == true ? "Yes" : "No") <br>
                    </p>



                    </p>
                </div>
                <br>
                <p class="col-xs-12 ">@Model.Comments </p>
            </div>

        </div>
    </div>

    <div class="col-md-4  col-xs-12">
        <div class="boxesPadding_full boxesPadding ">
            <h4 class="boxesTopic entry ">
                <span class="">Print For Your Records</span>
            </h4>
            <div class="padd-20 text-center">

                <button class="btn ctaBtn btn_mainBlue save_btn  no-padd txt-upper"><i class="material-icons icon_has_topic fs-20">print</i><span class="topic_has_icon">Print</span></button>

            </div>

        </div>
    </div>
</div>