﻿@*@model byte[] 
@{
    var base64 = Convert.ToBase64String(Model);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}*@


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title models" id="myModalLabel"> <i class="material-icons icon_has_topic">insert_photo</i>Offer File Cabinet</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="page_form" method="post" action="/Offer/FileCabinate" enctype="multipart/form-data">
                    <input type="hidden" name="OfferId" value="@ViewBag.OfferId" />
                    <div class="col-xs-12 col-md-12 border_top_bootm">
                        <a href="#" class="uploard icons_rel marg-b-15" id="open_upload"><i class="material-icons icon_has_topic">backup</i> Upload More Documents</a>
                        <div class="form-group" id="upload_docs_popup">
                            <div class="input-group full_width" style="position:relative; ">
                                <textarea class="form-control" style="resize:none" for="filecabinate" placeholder="Drop offer, pre-approval and proof of fund to close here (or click to upload)" rows="4"></textarea>
                                <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" name="filecabinate" multiple>
                                @*<textarea class="form-control marg-v-10" style="resize:none" placeholder="Drop files here to upload (or click)" rows="3"></textarea>
                                <input type="file" class="" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;">*@
                            </div>
                            <button type="submit" class="btn btn-primary marg-v-10" id="save_upload_doc">Save</button>

                        </div>
                    </div>
                </form>
                    <div class="col-xs-12 col-md-12 border_deshed">
                        <h5><strong>Original Offer Documents</strong></h5>
                        <ul>
                            <li>
                                @*<a href="#"><img src="@imgSrc" /></a>*@
                                <a href="#">Lorem Ipsum.jpeg</a>
                            </li>
                            <li>
                                <a href="#">Lorem Ipsum.jpeg</a>
                            </li>
                            <li>
                                <a href="#">Lorem Ipsum.jpeg</a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-xs-12 col-md-12 ">
                        <h5><strong>Additional Uploads</strong></h5>
                        <ul>
                            <li>
                                <a href="#">Lorem Ipsum.jpeg</a>
                            </li>
                            <li>
                                <a href="#">Lorem Ipsum.jpeg</a>
                            </li>
                            <li>
                                <a href="#">Lorem Ipsum.jpeg</a>
                            </li>
                        </ul>
                    </div>
</div>
        </div>

    </div>
</div>
<script>
    $("#open_upload").click(function () {
        $("#upload_docs_popup").slideToggle();
    });
    $("#save_upload_doc").click(function () {
        $("#upload_docs_popup").slideToggle();
    });
</script>