﻿
@model Offer.Models.Offer.NewInquiryModel


<div class="row">
    <div class="col-xs-12 no-padd">
        <div class="row-fluid">            
                @using (Html.BeginForm("_Inquiry", "SubmissionHub", FormMethod.Post, new { id = "INQFRM", enctype = "multipart/form-data" }))
                {
                    <div id="propertyInformation" class="row-fluid">
                <div class="col-xs-12 no-padd">
                    <div class="boxesPadding">
                        <h4 class="boxesTopic">
                            <span class="">Tentative Offer Details</span>
                        </h4>
                        <hr>
                        <div class="row boxesParagraph">
                            <div class="col-md-6  col-sm-6">
                                <div class="row">
                                    <div class="col-md-6  col-sm-6">
                                        <div class="form-group ">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.BuyerFirstName, new { @class = "form-control", placeholder = "Buyer First Name", id = "BuyerFirstName" , required = "required" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", id = "Email", required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", placeholder = "Phone No", id = "PhoneNo", required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group move_down_group full_width">
                                            <div class="input-group">
                                                <label for="doller" class="checkbox-custom-label">Do you need $ toward closing coasts ?</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ClosingCost, new { @class = "form-control", placeholder = "Closing Cost", id = "ClosingCost", required = "required" })

                                                <div class="input-group-addon padd-h-10">$</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.PurchasePrice, new { @class = "form-control", placeholder = "Purchase Price", id = "PurchasePrice" , required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.DownPayment, new { @class = "form-control", placeholder = "Down Payment", id = "DownPayment" , required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group full_width ">
                                            <div class="input-group">
                                                <ul>
                                                    <li>
                                                        <select name="color-scheme" id="Status" class="form-control">
                                                            <option value="conventinal">Conventinal</option>
                                                            <option value="escrow">In Escrow</option>
                                                            <option value="closed">Closed</option>
                                                            <option value="cancelled">Cancelled</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group move_down_group full_width">
                                            <div class="input-group">
                                                <label for="days" class="checkbox-custom-label">How many days to close escrow?</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">

                                                @Html.TextBoxFor(m => m.CloseofEscrow, new { @class = "form-control", placeholder = "Close of Escrow", id = "CloseofEscrow", required = "required" })
                                                <div class="input-group-addon padd-h-10">days</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", placeholder = "Comments", id = "Comments", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6  col-sm-6">
                                <div class="form-group">
                                    <span>Are you looking with a lender yet?</span>
                                    <label class="tgl tgl-gray pull-right">
                                        <p class="no-marg no-padd-i ">NO</p>

                                        <input type="checkbox" checked name="Lender" value="true" data-unchecked="false" />
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <p>YES</p>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <span>Do you have loan pre-approval?</span>
                                    <label class="tgl tgl-gray pull-right">
                                        <p class="no-marg no-padd-i ">NO</p>

                                        <input type="checkbox" checked name="PreApproval" value="true" data-unchecked="false" />
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <p>YES</p>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <span>Do you need to seller  a house to buy?</span>
                                    <label class="tgl tgl-gray pull-right">
                                        <p class="no-marg no-padd-i ">NO</p>

                                        <input type="checkbox" name="SellerBuyHome" value="true" data-unchecked="false" />
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <p>YES</p>
                                    </label>
                                </div>


                                <div class="form-group">
                                    <span>Have you seen the interior?</span>
                                    <label class="tgl tgl-gray pull-right">
                                        <p class="no-marg no-padd-i ">NO</p>

                                        <input type="checkbox" name="Interior" value="true" data-unchecked="false" />
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <p>YES</p>
                                    </label>
                                </div>


                                <div class="form-group">
                                    <span>Would you like to schdule </span>
                                    <label class="tgl tgl-gray pull-right">
                                        <p class="no-marg no-padd-i ">NO</p>
                                        <input type="checkbox" name="Schedule" value="true" data-unchecked="false" />

                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <p>YES</p>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <div class="input-group full_width padd-20 form-control">
                                        <h4 class="col-md-9 col-xs-12 pull-left colormainBlue padd-v-10">
                                            <i class="material-icons icon_has_topic fs-36">picture_as_pdf</i>
                                            <span class="topic_has_icon padd-h-40">Optional - Upload PDFs </span>
                                        </h4>


                                        <div class="col-xs-12 no-padd padd-v-20">
                                            <p class="no-padd-i"> &nbsp;&nbsp;(i.e. loan approval if you have it already)</p>
                                            <div class="col-md-8 col-xs-12 half_padding">
                                                <div class="form-group full_width">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="documnetName" placeholder="Dcoument Name" maxlength="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 half_padding">
                                                <div class="form-group full_width">
                                                    <div class="input-group">
                                                       <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper"><i class="material-icons icon_has_topic fs-20">file_upload</i><span class="topic_has_icon">Upload</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row-fluid call_to_action">
                        <div class="right">
                            <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>
                            @*<button class="btn ctaBtn btn_mainBlue nextBtn save_btn" onclick="showdata()">Submit Offer</button>*@
                            <button type="button" class="btn ctaBtn btn_mainBlue nextBtn save_btn" onclick="SubmitInq()">Submit Inquiry</button>
                        </div>
                    </div>
                </div>
            </div>
                }

          
        </div>
    </div>

</div>
