﻿@model Offer.Models.Offer.NewOfferGroupModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Views/Offer/NewOfferGroup.js"></script>
@using (Html.BeginForm("AgentOfferForm", "SubmissionHub", FormMethod.Post, new { id = "newOfferGroupForm", enctype = "multipart/form-data" }))
{
     @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ListingId)
    @Html.HiddenFor(m => m.BuyerGroupId)
    @Html.HiddenFor(m => m.OfferType)
<div class="col-sm-6">
    <div class="boxesPadding_full boxesPadding pull-left">
        <h4 class="boxesTopic entry padd-10 ">
            <i class="material-icons icon_has_topic">account_circle</i>
            <span class="topic_has_icon">Buyers</span>
        </h4>

        <br>
        <div id="buygrpdiv"></div>
        <div id="buyerdiv"></div>
        @*@if (Model.BuyerFirstname == null || Model.BuyerLastname == null)
        {
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.BuyerFirstname, new { @class = "form-control", placeholder = "Buyer First Name"})
                    @Html.ValidationMessageFor(m => m.BuyerFirstname)

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.BuyerLastname, new { @class = "form-control", placeholder = "Buyer Last Name" })
                    @Html.ValidationMessageFor(m => m.BuyerLastname)
                </div>
            </div>
        </div>

        }
        else
        {*@
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.BuyerFirstname, new { @class = "form-control", placeholder = "Buyer First Name"})
                    @Html.ValidationMessageFor(m => m.BuyerFirstname)
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.BuyerLastname, new { @class = "form-control", placeholder = "Buyer Last Name" })
                    @Html.ValidationMessageFor(m => m.BuyerLastname)
                </div>
            </div>
        </div>

        @*}*@



    </div>

    <div class="boxesPadding_full boxesPadding pull-left marg-v-10">
        <h4 class="boxesTopic entry padd-10 ">
            <i class="material-icons icon_has_topic">account_circle</i>
            <span class="topic_has_icon">Buyer's Agent</span>
        </h4>

        <br>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.AgentFirstname, new { @class = "form-control", placeholder = "Agent First Name"})
                    @Html.ValidationMessageFor(m => m.AgentFirstname)
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.AgentLastname, new { @class = "form-control", placeholder = "Agent Last Name" })
                    @Html.ValidationMessageFor(m => m.AgentLastname)
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Brokrage, new { @class = "form-control", placeholder = "Agent Brokrage" })
                  
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="input-group full_width">
                    <input type="text" class="form-control" placeholder="Address"  maxlength="100">
                 
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">

                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.AgentEmail, new { @class = "form-control", placeholder = "Agent Email" })
                    @Html.ValidationMessageFor(m => m.AgentEmail)
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.AgentPhoneNo, new { @class = "form-control", placeholder = "Agent PhoneNo" })
                    @Html.ValidationMessageFor(m => m.AgentPhoneNo)
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <div class="input-group full_width">
                    <textarea rows="4" class="full-width text-justify padd-5" style="width:100%; resize:none;" disabled>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. </textarea>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="col-sm-6">
    <div class="boxesPadding_full boxesPadding pull-left">
        <h4 class="boxesTopic entry padd-10 ">
            <i class="material-icons icon_has_topic">account_circle</i>
            <span class="topic_has_icon">Offer Details</span>
        </h4>

        <br>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">


                    @Html.TextBoxFor(m => m.OfferAmount, new { @class = "form-control", placeholder = "Purchase Price" })
                    @Html.ValidationMessageFor(m => m.OfferAmount)
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">


                    @Html.TextBoxFor(m => m.DepositAmount, new { @class = "form-control", placeholder = "Deposit Amount" })
                    @Html.ValidationMessageFor(m => m.DepositAmount)
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">

                    @Html.TextBoxFor(m => m.LoanAmount, new { @class = "form-control", placeholder = "Loan Amount"})
                    @Html.ValidationMessageFor(m => m.LoanAmount)
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">

                    @Html.DropDownListFor(model => model.LoanType, new SelectList(ViewBag.financing, "Code", "DisplayName"), "Choose an Option", new { @class = "form-control", id = "drpfinncing" })
                    @Html.ValidationMessageFor(m => m.LoanType)
                    @*<select id="statusFilter" class="form-control" required name="LoanType">
                        <option value="">Choose an option</option>
                        <option value="Cash">Cash</option>
                        <option value="Conventional">Conventional</option>
                        <option value="FHA">FHA</option>
                        <option value="VA">VA</option>
                        <option value="Other">Other</option>
                    </select>*@

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.BuyersClosingCost, new { @class = "form-control", placeholder = "Buyer Closing Cost Credits" })
                    @Html.ValidationMessageFor(m => m.BuyersClosingCost)
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.CloseofEscrow, new { @class = "form-control", style = "width:60px", placeholder = "Days", maxlength = "10" })
                    @Html.ValidationMessageFor(m => m.CloseofEscrow)
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group move_down_group full_width">
                <div class="input-group">
                    @Html.CheckBoxFor(m => m.Contingent, new { @class = "", @checked="checked", id = "sameListing2" })

                    <label for="sameListing2" class="">Is the offer contingent on the buyers sale?</label>

                </div>
            </div>
        </div>





        <div class="col-sm-12 marg-t-15">
            <div class="form-group">
                <label>Offer Expiration Date </label>
                <div class="input-group date full_width">
                    @Html.TextBoxFor(m => m.ClosingDate, new { @class = "form-control", placeholder = "Closing Date", required = "required", id = "listing_date" }) <span class="input-group-addon"><i class="material-icons">today</i></span>
                </div>


            </div>
        </div>

        <div class="col-md-12  col-xs-12">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", rows = "4", placeholder = "Comments to listing agent about your offer", id = "txtcomment", style = "resize:none" })

                </div>
            </div>
            <div class="form-group">
                <div class="input-group full_width" style="position:relative">
                    <textarea class="form-control" style="resize:none" placeholder="Drop offer, pre-approval and proof of fund to close here (or click to upload)" rows="4"></textarea>
                    <input type="file" name="offerfiles" multiple style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" id="fileupload">
                    <br /><br />
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                    <br>

                    <p />
                </div>
            </div>
        </div>



    </div>


</div>
<div class="col-md-12 col-xs-12  padd-v-10">

    
    <button id="newOfferGroupSubmitButton" type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Submit</button>

</div>
                  }

<div class="col-xs-12 marg-v-10">
    <div class="bg-warning padd-10">
        <h4>How EVERY OFFER works for agents not on EVERY OFFER:</h4>
        <ol>

            <li>Every offer submitted through Every Offer is automatically emailed to the sellers agent.</li>
            <li>To accurate track all of your buyer offers, upload sellers counter offers into Every Offer.</li>
            <li>Use Every Offer to continue to submit counter offers and track every offer.</li>
        </ol>
    </div>
</div>
<script src="~/javascripts/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $("#listing_date, #status_change_date, #card_expire_date").datepicker({
            todayHighlight: true,

        });
    });

    function submitNewOfferGroup() {
        var url = "/SubmissionHub/AgentOfferForm"; // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: $("#newOfferGroupForm").serialize(), // serializes the form's elements.
            success: function (result) {
                $.ajax({
                    type: "post",
                    url: "/SubmissionHub/_AgentSubmissionConfirmation?OfferGroupId=" + result.OfferGroupId,

                    success: function (msg) {
                        alert("Offer is submitted.");
                        $('#confirmoffer').html(msg);
                        $('#NewOfferGroup').hide();
                        $('#confirmoffer').show();
                    }
                });
                
            }
        });
    }

</script>