﻿
@{
    ViewBag.Title = "Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="listingView_sellerTab">
    <div class="container">
        <div class="row-fluid property_information">
            <div class="col-md-8">

                <div class="row boxesPadding_full border_left_6_green">
                    <div class="col-md-12 col-xs-12 heading_status">
                        <h4 class="col-md-9 col-xs-12 pull-left">
                            <i class="material-icons icon_has_topic">business</i>
                            <span class="topic_has_icon">Property Information</span>
                        </h4>
                        <h5 class="col-md-3 col-xs-12 pull-right active">Active</h5>
                    </div>
                    <div class="col-md-12 col-xs-12 entry">
                        <i class="material-icons icon_has_topic colorGrey fs-20">location_on</i>
                        <span class="topic_has_icon">123 Pine Street, Anaheim, CA  92807</span>
                    </div>
                    <div class="col-md-12 col-xs-12 entry">

                        <span class="pull-left"><i class="material-icons icon_has_topic colorGrey fs-20">loyalty</i><span class="topic_has_icon">$800,000</span></span>
                        <span class="pull-right"><i class="material-icons icon_has_topic colorGrey fs-20">today</i><span class="topic_has_icon">List Date: 07/21/16</span></span>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">

                <img src="/content/images/demo/sample_6.jpg" class="img-responsive img-rounded" alt="title goes here">

            </div>

            <div class="col-xs-12 marg-t-30 no-padd">
                <div class="row ">

                    <div class="col-md-8  col-xs-12">
                        <div class="boxesPadding_full boxesPadding">
                            <h4 class="boxesTopic entry ">
                                <i class="material-icons icon_has_topic">account_circle</i>
                                <span class="topic_has_icon">Listing Agents</span>
                            </h4>
                            <div class="padd-20">
                                <div class="table-responsive ">
                                    <table class="table no-marg">
                                        <tr>
                                            <td width="40%" class="bdr-none-i"><strong>Larry Smith</strong></td>
                                            <td width="60%" class="bdr-none-i">larry@smithrealgroup.com</td>
                                        </tr>

                                        <tr>
                                            <td class="bdr-none-i">Smith Real Estate Group</td>
                                            <td class="bdr-none-i"> 714555-1212</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4  col-xs-12">
                        <div class="boxesPadding_full boxesPadding padd-v-25">

                            <div class="padd-20 text-center">

                                <p>Property Details at</p>
                                <a href="#"><h4 class="marg-20">https://123pinestreet.com  </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 marg-t-30">
                <div class="row boxesPadding_full padd-25">
                    <p><strong>Instructions : </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 marg-t-30 marg-b-20">
            <div class="row ">
                <div class="col-xs-12 no-padd">
                    <div class="row-fluid">
                        <div id="propertyInformation" class="row-fluid">
                            <div class="col-xs-12 no-padd">

                                <div class="boxesPadding">
                                    <h4 class="boxesTopic">
                                        <span class="">Tentative Offer Details</span>
                                    </h4>
                                    <hr>
                                    <div class="row boxesParagraph">
                                        <div class="col-md-6  col-sm-6">
                                            <div class="row">
                                                <div class="col-md-6  col-sm-6">
                                                    <form>
                                                        <div class="form-group ">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="buyer_full_name" placeholder="Buyers Full Name" required="required" maxlength="100">
                                                            </div>

                                                        </div>



                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="cell_number" placeholder="Cell Phone Number" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group move_down_group full_width">
                                                            <div class="input-group">
                                                                <label for="doller" class="checkbox-custom-label">Do you need $ toward closing coasts ?</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">

                                                                <input type="text" class="form-control" id="doller" placeholder="">
                                                                <div class="input-group-addon padd-h-10">$</div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="col-md-6  col-sm-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="purchase_price" placeholder="Purchase Price" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="down_payment" placeholder="Down Payment" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="form-group full_width ">
                                                            <div class="input-group">
                                                                <ul>
                                                                    <li>
                                                                        <select name="color-scheme" id="color-scheme" class="form-control">
                                                                            <option value="conventinal">Conventinal</option>
                                                                            <option value="escrow">In Escrow</option>
                                                                            <option value="closed">Closed</option>
                                                                            <option value="cancelled">Cancelled</option>
                                                                        </select>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="form-group move_down_group full_width">
                                                            <div class="input-group">
                                                                <label for="days" class="checkbox-custom-label">How many days to close escrow?</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">

                                                                <input type="text" class="form-control" id="days" placeholder="">
                                                                <div class="input-group-addon padd-h-10">days</div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="col-md-12  col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-group full_width">
                                                            <textarea class="form-control" placeholder="Please let us know a little more about your situation" rows="5"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-sm-6">
                                            <div class="form-group">
                                                <span>Are you looking with a lender yet?</span>
                                                <label class="tgl tgl-gray pull-right">
                                                    <p class="no-marg no-padd-i ">NO</p>
                                                    <input type="checkbox" checked />
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <p>YES</p>
                                                </label>
                                            </div>

                                            <div class="form-group">
                                                <span>Do you have loan pre-approval?</span>
                                                <label class="tgl tgl-gray pull-right">
                                                    <p class="no-marg no-padd-i ">NO</p>
                                                    <input type="checkbox" checked />
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <p>YES</p>
                                                </label>
                                            </div>

                                            <div class="form-group">
                                                <span>Do you need to seller  a house to buy?</span>
                                                <label class="tgl tgl-gray pull-right">
                                                    <p class="no-marg no-padd-i ">NO</p>
                                                    <input type="checkbox" />
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <p>YES</p>
                                                </label>
                                            </div>


                                            <div class="form-group">
                                                <span>Have you seen the interior?</span>
                                                <label class="tgl tgl-gray pull-right">
                                                    <p class="no-marg no-padd-i ">NO</p>
                                                    <input type="checkbox" checked />
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <p>YES</p>
                                                </label>
                                            </div>


                                            <div class="form-group">
                                                <span>Would you like to schdule </span>
                                                <label class="tgl tgl-gray pull-right">
                                                    <p class="no-marg no-padd-i ">NO</p>
                                                    <input type="checkbox" checked />
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <p>YES</p>
                                                </label>
                                            </div>
                                            <form class="page_form">
                                                <div class="form-group">
                                                    <div class="input-group full_width padd-20 form-control">
                                                        <h4 class="col-md-9 col-xs-12 pull-left colormainBlue padd-v-10">
                                                            <i class="material-icons icon_has_topic fs-36">picture_as_pdf</i>
                                                            <span class="topic_has_icon padd-h-40">Optional - Upload PDFs </span>
                                                        </h4>


                                                        <div class="col-xs-12 no-padd padd-v-20">
                                                            <p class="no-padd-i"> &nbsp;&nbsp;(i.e. loan approval if you have it already)</p>
                                                            <div class="col-md-8 col-xs-12 half_padding">
                                                                <div class="form-group full_width">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="documnetName" placeholder="Dcoument Name" required="required" maxlength="100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-xs-12 half_padding">
                                                                <div class="form-group full_width">
                                                                    <div class="input-group">
                                                                        <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper"><i class="material-icons icon_has_topic fs-20">file_upload</i><span class="topic_has_icon">Upload</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>



                                <div class="row-fluid call_to_action">
                                    <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>
                                    <div class="right">
                                        <a href="#step-1" class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</a>
                                        <button href="add_new_listing.html" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Submit Offer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

