﻿@model Offer.Models.SubmissionHub.ListingDetailView

@{
    ViewBag.Title = "ListingDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<link href="~/Content/styles/other.css" rel="stylesheet" />
<link href="~/Content/styles/bootstrap-datepicker.min.css" rel="stylesheet" />

<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <ul class="you_are_here">
                        <li class="hidden-xs go_back_home"><a href="/Listing/Search">Home</a></li>
                        <li class="hidden-xs"><i class="material-icons">navigate_next</i></li>
                        <li class="current_page"><a class="active" href="/Listing/Detail/@Model.ListingId">Listings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="listingView_sellerTab" class="marg-b-20">
    <div class="container">
        <div class="col-md-4">
            <div class=" col-lg-12 listingBox status_active padd-10 ">
                <div class="col-md-12 col-xs-12 text-center ">
                    <i class="material-icons icon_has_topic colorGrey fs-20">location_on</i>
                    <span class="topic_has_icon">@Model.Address</span>
                    
                </div>
                <div class="col-md-12 col-xs-12 text-center ">
                    <select name="color-scheme" id="drpstatus-@Model.ListingId" class=" marg-v-10 form-control  drpstatus">
                        @foreach (var sta in ViewBag.StatusResult)
                        {
                            if (Model.ListingStatus == sta.Code)
                            {
                                <option selected value="@sta.Code">@sta.DisplayName</option>
                            }
                            else
                            {
                                <option value="@sta.Code">@sta.DisplayName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-12 col-xs-12 text-center ">
                    <a href="/Listing/Detail/@Model.ListingId">

                        <img src="~/Content/images/demo/sample_6.jpg" class="img-responsive img-rounded marg-auto-sm" alt="title goes here">
                    </a>
                </div>
                <div class="col-md-12 col-xs-12 entry text-center">
                    <button href="add_new_listing.html" class="btn ctaBtn btn_mainBlue nextBtn save_btn">
                        <i class="material-icons icon_has_topic colorGrey fs-20">loyalty</i><span class="topic_has_icon">@Model.ListAmount</span>
                    </button>
                </div>
                <div class="col-md-12 col-xs-12 text-center heading_status">
                    <p class="colordarkGrey ">Listing Agent</p>
                    <h4><strong>@Model.ListAgentName</strong></h4>

                    <p class="colordarkGrey ">@Model.ListAgentPhone</p>
                    <p>@Model.ListAgentEmail</p>
                </div>
                <div class="col-md-12 col-xs-12  entry">
                    <span class="pull-left text-center">
                        <i class="material-icons icon_has_topic colorGrey fs-20">today</i>
                        <span class="topic_has_icon">List Date: <br> <strong>@Model.ListDate</strong></span>
                    </span>
                    <span class="pull-right text-center">
                        <i class="material-icons icon_has_topic colorGrey fs-20">today</i>
                        <span class="topic_has_icon">Expiration Date: <br><strong>@String.Format("{0:dd MMM. yyyy}", Model.ExpiryDate)</strong></span>
                    </span>
                </div>
                <div class="col-md-12 col-xs-12  entry">
                    <span class="pull-left text-center">
                        List Id: <br> <strong>@Model.ListingUniqueId</strong>
                    </span>
                    <span class="pull-right text-center">
                        <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper " onclick="newOfferGroup()"> Place Offer </button>
                    </span>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="text-center">
@*<h4>
                            @{int i = 0;}

                            @foreach (var data in Model.OfferGroups.OfferGroupItems)
                            {

                                if (data.Status == "new")
                                {
                                    i++;
                                }
                                else
                                {

                                }

                            }
                            @if (i > 0)
                            {

                                <a href="#">
                                    @i New
                                </a>
                            }
                            else
                            {    <a href="#">
                                @Model.OfferGroups.OfferGroupItems.Count() Offers
                            </a>

                            }
                        </h4>*@                        
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <span class="topic_has_icon">
                        Instructions:</span>
                        <div class="input-group full_width">
                            <span>@Model.Instructions </span>
                        </div>
</div>
                </div>
            </div>
        
        <div class="col-md-8 ">
            <div class="row ">
                <!-- Nav tabs -->
             
                <div id="NewOfferGroup">
                </div>

                <div id="confirmoffer" style="display:none;">
                </div>

                    </div>




                </div>
            </div>
    
</section>



@section scripts {
  
    <script>

    $(document).ready(function () {

        $.ajax({
            url: '/SubmissionHub/AgentOfferForm?ListingID=' + @Model.ListingId +'&OfferType=ListingOfferGroup',
            type:'get',
            success: function (data) {
                
                $('#NewOfferGroup').html(data);
             
            }
        });

        

    });
    </script>
    
}