﻿
@{
    ViewBag.Title = "AgentOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="listingView_sellerTab">
    <div class="container">
        <div class="row-fluid property_information">
            <div class="col-md-8">

                <div class="row boxesPadding_full border_left_6_green">
                    <div class="col-md-12 col-xs-12 heading_status">
                        <h4 class="col-md-9 col-xs-12 pull-left">
                            <i class="material-icons icon_has_topic">business</i>
                            <span class="topic_has_icon">Property Information</span>
                        </h4>
                        <h5 class="col-md-3 col-xs-12 pull-right active">Active</h5>
                    </div>
                    <div class="col-md-12 col-xs-12 entry">
                        <i class="material-icons icon_has_topic colorGrey fs-20">location_on</i>
                        <span class="topic_has_icon">123 Pine Street, Anaheim, CA  92807</span>
                    </div>
                    <div class="col-md-12 col-xs-12 entry">

                        <span class="pull-left"><i class="material-icons icon_has_topic colorGrey fs-20">loyalty</i><span class="topic_has_icon">$800,000</span></span>
                        <span class="pull-right"><i class="material-icons icon_has_topic colorGrey fs-20">today</i><span class="topic_has_icon">List Date: 07/21/16</span></span>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">

                <img src="/content/images/demo/sample_6.jpg" class="img-responsive img-rounded" alt="title goes here">

            </div>

            <div class="col-xs-12 marg-t-30">
                <div class="row boxesPadding_full padd-25">
                    <p><strong>Instructions : </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 marg-t-30">
            <div class="row ">
                <div class="col-xs-12 no-padd">
                    <div class="row-fluid">
                        <div id="propertyInformation" class="row-fluid">
                            <div class="col-xs-12 no-padd">

                                <div class="boxesPadding">
                                    <h4 class="boxesTopic">
                                        <span class="">Offer Details</span>
                                    </h4>
                                    <hr>
                                    <div class="row boxesParagraph">
                                        <div class="col-md-6  col-sm-6">
                                            <div class="row">
                                                <div class="col-md-6  col-sm-6">
                                                    <form>
                                                        <div class="form-group move_down_group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="buyer_full_name" placeholder="Buyers Full Name" required="required" maxlength="100">
                                                            </div>

                                                        </div>
                                                        <div class="form-group  full_width">
                                                            <div class="input-group">
                                                                <a href="#" class="pull-right">Add Buyer</a>
                                                            </div>
                                                        </div>

                                                        <div class="form-group marg-t-30">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="buyer_agent" placeholder="Buyers Real Estate Agent" required="required" maxlength="100">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="brokerage" placeholder="Brokerage" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="cell_number" placeholder="Cell Phone Number" required="required">
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="col-md-6  col-sm-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="purchase_price" placeholder="Purchase Price" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="deposit_amount" placeholder="Deposit Amount" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="form-group full_width ">
                                                            <div class="input-group">
                                                                <ul>
                                                                    <li>
                                                                        <select name="color-scheme" id="color-scheme" class="form-control">
                                                                            <option value="va">VA</option>
                                                                            <option value="escrow">In Escrow</option>
                                                                            <option value="closed">Closed</option>
                                                                            <option value="cancelled">Cancelled</option>
                                                                        </select>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="loan_amount" placeholder="Loan Amount" required="required" maxlength="100">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="closing_credit" placeholder="Buyer Closing Cost Credits" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group full_width">
                                                                <input type="text" class="form-control" id="close_escrow" placeholder="Close of Escrow" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-12  col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-group full_width">
                                                            <textarea class="form-control" placeholder="Comment about the offer" rows="5"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6  col-sm-6">
                                            <form class="page_form">
                                                <div class="form-group">
                                                    <div class="input-group full_width padd-20 form-control">
                                                        <h4 class="col-md-9 col-xs-12 pull-left colormainBlue padd-v-10">
                                                            <i class="material-icons icon_has_topic fs-36">picture_as_pdf</i>
                                                            <span class="topic_has_icon padd-h-40">Upload Required PDFs </span>
                                                        </h4>


                                                        <div class="col-xs-12 no-padd padd-v-20">
                                                            <div class="col-md-8 col-xs-12 half_padding">
                                                                <div class="form-group full_width">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="documnetName" placeholder="Dcoument Name" required="required" maxlength="100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-xs-12 half_padding">
                                                                <div class="form-group full_width">
                                                                    <div class="input-group">
                                                                        <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper"><i class="material-icons icon_has_topic fs-20">file_upload</i><span class="topic_has_icon">Upload</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid call_to_action">
                                    <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>
                                    <div class="right">
                                        <a href="#step-1" class="btn ctaBtn btn_mainBlue cancel_btn">Back</a>
                                        <button href="add_new_listing.html" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>