﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
@model List<Offer.Models.Offer.OfferGridItem>

<div class="full-width padd-10 pull-left">
    <h3 class="col-sm-12 col-xs-12 no-marg no no-padd full-width text-center-xs colormainBlue ">
        <i class="material-icons icon_has_topic fs-36">assignment</i>
        <span class="topic_has_icon padd-h-40 float-r-sm">Offer list</span>


    </h3>
</div>

@{int i = 1;}
@foreach (var item in Model)
{
    <div class="offer_main_box padd-v-5">
        <div class="col-lg-1">
            <h1 class="colormainBlue number_offer">@i</h1>
            <button class="next_btn" id="list_detial" onclick="OfferDetail(@item.OfferId)"><i class="material-icons icon_has_topic">play_circle_filled</i></button>
        </div>

        <div class="col-lg-3 padd-5">
            <div class="main_divs"><strong>Offer @i</strong> from</div>
            <div class="main_divs">Original Offer</div>
            <div class="main_divs">Expires: @String.Format("{0:dd MMM. yyyy}", item.OfferExpiryDate)</div>

        </div>


        <div class="col-lg-3 padd-5">
            <div class="main_divs">
                <div class="title_offers">Purchase Price: </div>
                <div class="details_offers">&nbsp; $@string.Format("{0:n0}", item.PurchasePrice)</div>
            </div>

            <div class="main_divs">
                <div class="title_offers">Deposit: </div>
                <div class="details_offers">&nbsp;$@string.Format("{0:n0}", item.Deposite)</div>
            </div>

            <div class="main_divs">
                <div class="title_offers">Closing Credits: </div>
                <div class="details_offers">&nbsp;$@string.Format("{0:n0}", item.ClosingCost)</div>
            </div>

            <div class="main_divs">
                <div class="title_offers">Contingent: </div>
                <div class="details_offers">&nbsp;@item.Contingent </div>
            </div>
        </div>

        <div class="col-lg-3 padd-5">
            <div class="main_divs">
                <div class="title_offers">Financing: </div>
                <div class="details_offers">&nbsp;@item.Financing</div>
            </div>

            <div class="main_divs">
                <div class="title_offers">Loan Amount: </div>
                <div class="details_offers">&nbsp;$@string.Format("{0:n0}", item.LoanAmount)</div>
            </div>

            <div class="main_divs">
                <div class="title_offers">Close of Escrow: </div>
                <div class="details_offers">&nbsp;@item.CloseofEscrow Days</div>
            </div>

            <div class="main_divs">
                <div class="title_offers">Buyer's Agent: </div>
                <div class="details_offers">&nbsp;@item.BuyersAgent</div>
            </div>
        </div>


        <div class="col-lg-1 ">
            <div class="main_divs"><a href="javascript:void(0);"><i class="material-icons icon_has_topic">loop</i></a></div>
            <div class="main_divs"><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" onclick="openfilecabinate(@item.OfferId)"><i class="material-icons icon_has_topic">insert_drive_file</i></a></div>
            <div class="main_divs"><a href="javascript:void(0);" name="notes-@item.OfferId" class="notes"><i class="material-icons icon_has_topic">sms</i></a></div>
        </div>





        <div class="col-lg-12 col-xs-12">
            <div class="comment_titile notes" id="notes-@item.OfferId">
                Note
                <textarea class="full-width" rows="2" id="txtnote-@item.OfferId"></textarea>
                <div class="save_close closwsms" name="closwsms-@item.OfferId"><i class="material-icons icon_has_topic">close</i> Save And Close</div>
            </div>
        </div>

    </div>
    i++;

}

<script>
    $('.drpoffsts').change(function () {
        var OffId = $(this).attr('id').split('-')[1];
        var Status = $(this).val();
        alert(Status);
        $.ajax({
            url: '/Listing/ChangeOfferStatus?OfferId=' + OffId + '&Status=' + Status, // The method name + paramater
            success: function (data) {
                alert(data.Message);
                $.ajax({
                    url: '/Listing/_DisplayOffer?ListingId=' + data.ListId, // The method name + paramater
                    success: function (data) {
                        $('#offerlistdiv').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }
        });
    });
    function OfferDetail(Id) {
        $.ajax({
            url: '/Listing/_OfferDetail?OfferId=' + Id,
            success: function (data) {
                $('#offerdetail').html(data);
                $('#offerdetail').show();
                $('#offerlistdiv').hide();
            }
        });
    }
    function openfilecabinate(oFFERiD) {
        $.ajax({
            url: '/SubmissionHub/_FileCabinate?OfferId=' + oFFERiD,
            success: function (data) {
                $('#myModal').html(data);
                $('#myModal').modal();

            }
        });

    }


    $("#toggleAll").change(function () {

        if (this.checked) {
            $(".chex").prop('checked', true);
        } else {
            $(".chex").prop('checked', false);
        }

    });



    function CompareOffer() {
        var temp = "";

        $('input[name=chex]').each(function () {
            if ($(this).is(':checked')) {
                if (temp == "") {
                    temp += $(this).val();
                }
                else {
                    temp += "," + $(this).val();
                }

            }
        })

        // alert("val---" + values.join(", "));
        if (temp != "") {
            $.ajax({
                type: 'POST',
                url: '/Listing/_CompareOffers?data=' + temp,
                success: function (data) {
                    $('#compair_main').html(data);
                    $('#compair_main').show();
                    $('#offerdetail').hide();
                    $('#offerlistdiv').hide();
                },
                error: function () {

                }
            });
        }
    }
</script>
<script>
    $(document).ready(function () {
        $(".notes").click(function () {
            var i = $(this).attr('name').split('-')[1];
            $("#notes-" + i).slideToggle();
        });
        $(".closwsms").click(function () {
            var i = $(this).attr('name').split('-')[1];
            var note = $('#txtnote-' + i).val();

            $.ajax({
                url: '/Listing/_EditNote?OfferId=' + i + '&Note=' + note,
                success: function (data) {
                    $("#notes-" + i).slideToggle();
                }
            });

        });

        $("#open_upload, #save_upload_doc").click(function () {
            $("#upload_docs_popup").slideToggle();
        });
    });

</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>


<!-- Modal -->
<div class="modal fade" id="offer_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title models">Create New Counter Offer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12 ">
                        <div class="form-group move_down_group full_width text-left ">
                            <div class="input-group radio-inline">
                                <input id="same" class="radio-custom" name="1" type="radio">
                                <label for="same" class="radio-custom-label">Buyer Counter (to seller)</label>
                                &ensp;
                                <input id="sameListinga" class="radio-custom" name="1" type="radio">
                                <label for="sameListinga" class="radio-custom-label">Seller Counter (to buyer)</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="title_new_offer">&nbsp;</div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Purchase Price:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$6,363,463">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Earnest Deposit:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$4,653,464">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Loan Amount:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$643,634,634">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Loan Type:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="Cash">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Closing Credits</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="$46,346">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Close of Escrow:</label>
                                <div class="col-sm-6 padd-5">
                                    <input type="email" class="form-control" value="64">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Contingent on sale of buyer's property?</label>
                                <div class="col-sm-6 padd-5">
                                    <div class="form-group move_down_group padd-h-15 padd-v-5">
                                        <div class="input-group">
                                            <input id="sameas" class="checkbox-custom" name="sameListing" type="checkbox" required="required">
                                            <label for="sameas" class="checkbox-custom-label compirall" style="padding:0px 0px">Yes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-6 padd-5 padd-10 control-label">Counter expires on:</label>
                                <div class="col-sm-6 padd-5">
                                    <div class="input-group date  full_width ">
                                        <input type="text" class="form-control" id="card_expire_date" required="required" placeholder="05/05/2017">
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="title_new_offer">Original Offer</div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$6,363,463" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$4,653,464" disabled>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$643,634,634" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="Cash" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="$46,346" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="64 Days" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <input type="email" class="form-control nothing_input" value="No" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 padd-5">
                                <div class="input-group date  padd-v-10 ">

                                    <input type="text" class="form-control" id="card_expire_time" required="required" placeholder="05/05/2017">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <textarea class="form-control" rows="4" placeholder="Enter Counter Offer Comments" style="resize:none"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group full_width" style="position:relative">
                                <textarea class="form-control" style="resize:none" placeholder="Drop files here to upload (or click)" rows="4"></textarea>
                                <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;">
                            </div>
                        </div>
                    </div>

                    <button class="btn ctaBtn btn_mainBlue save_btn padd-h-15 full-width txt-upper ">Submit Counter Offer</button>

                </div>
            </div>

        </div>
    </div>
</div>
