﻿@model Offer.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Change Password
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active"> Change Password</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3"></div>
        <!-- left column -->
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)

                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputFile">Old Password</label>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">New Password</label>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Confirm New Password</label>
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
