﻿@model Offer.Models.Account.ProfileData

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/validation.js"></script>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>
<section class="content-header">
    <h1>
        User Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">User profile</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="/content/images/demo/user.jpg" alt="User profile picture">
                        <h3 class="profile-username text-center">@Model.Firstname @Model.Lastname</h3>
                        
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- About Me Box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                   
                    @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {    @Html.HiddenFor(m => m.UserId)
                   
                        @Html.ValidationSummary(true)
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control required", placeholder = "First Name" })


                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control required", placeholder = "Last Name" })


                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">

                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", placeholder = "Email" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Phone No</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control StopChar", placeholder = "Contact No" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">License No</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(m => m.LicenseNumber, new { @class = "form-control", placeholder = "License No" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Company Name</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company Name" })

                                </div>
                            </div>


                            <div class="form-group">

                                <label for="inputEmail" class="col-sm-2 control-label">Upload Image</label>
                                <div class="col-sm-5">
                                    <input type="file" class="form-control" name="UserImg" onchange="show(this)" />
                                </div>

                                <div class="col-sm-5">
                                    @if (Model != null)
                                    {
                                        <img id="user_img" height="100" width="90" src="/content/images/demo/user.jpg" />
                                    }
                                    else
                                    {            <img id="user_img" height="100" width="90" />
                                    }
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                    <a href="../Profile/ChangePassword" class="btn btn-danger">Change Password</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.tab-content -->

            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
