﻿@model Offer.Models.Offer.NewOfferModel

<div class="col-xs-12 marg-t-30">
    <div class="row ">
        <div class="col-xs-12 no-padd">
            <div class="row-fluid">
                <div id="propertyInformation" class="row-fluid">
                    <div class="col-xs-12 no-padd">
                        
@using (Html.BeginForm("NewOffer", "Offer", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
            {
                            <div class="boxesPadding">
                                <h4 class="boxesTopic">
                                    <span class="">Offer Details</span>
                                </h4>
                                <hr>
                                <div class="row boxesParagraph">
                                    <div class="col-md-6  col-sm-6">
                                        <div class="row">
                                            <div class="col-md-6  col-sm-6">

                                                <div class="form-group move_down_group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="buyer_full_name" placeholder="Buyers Full Name" required="required" maxlength="100">
                                                    </div>
                                                  
                                                </div>
                                                <div class="form-group  full_width">
                                                    <div class="input-group">
                                                        <a href="#" class="pull-right">Add Buyer</a>
                                                    </div>
                                                </div>

                                                <div class="form-group marg-t-30">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="buyer_agent" placeholder="Buyers Real Estate Agent" required="required" maxlength="100">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="brokerage" placeholder="Brokerage" required="required">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="cell_number" placeholder="Cell Phone Number" required="required">
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-6  col-sm-6">

                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="purchase_price" placeholder="Purchase Price" required="required" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="deposit_amount" placeholder="Deposit Amount" required="required" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="form-group full_width ">
                                                    <div class="input-group">
                                                        <ul>
                                                            <li>
                                                                <select name="color-scheme" id="color-scheme" class="form-control">
                                                                    <option value="va">VA</option>
                                                                    <option value="escrow">In Escrow</option>
                                                                    <option value="closed">Closed</option>
                                                                    <option value="cancelled">Cancelled</option>
                                                                </select>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="loan_amount" placeholder="Loan Amount" required="required" maxlength="100">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="closing_credit" placeholder="Buyer Closing Cost Credits" required="required" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <input type="text" class="form-control" id="close_escrow" placeholder="Close of Escrow" required="required" maxlength="100">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12  col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-group full_width">
                                                        <textarea class="form-control" placeholder="Comment about the offer" rows="5"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-sm-6">

                                        <div class="form-group">
                                            <div class="input-group full_width padd-20 form-control">
                                                <h4 class="col-md-9 col-xs-12 pull-left colormainBlue padd-v-10">
                                                    <i class="material-icons icon_has_topic fs-36">picture_as_pdf</i>
                                                    <span class="topic_has_icon padd-h-40">Upload Required PDFs </span>
                                                </h4>


                                                <div class="col-xs-12 no-padd padd-v-20">
                                                    <div class="col-md-8 col-xs-12 half_padding">
                                                        <div class="form-group full_width">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="documnetName" placeholder="Dcoument Name" required="required" maxlength="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-xs-12 half_padding">
                                                        <div class="form-group full_width">
                                                            <div class="input-group">
                                                                <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper"><i class="material-icons icon_has_topic fs-20">file_upload</i><span class="topic_has_icon">Upload</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid call_to_action">
                                <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>
                                <div class="right">
                                    <a onclick="cancelNewOffer()" class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</a>
                                    <button id="newOfferSubmitButton" type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Submit</button>
                                </div>
                            </div>
}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
@section scripts {
    <script>
              $('#newOfferSubmitButton').click(function (e) {
            e.preventDefault();
            alert('hi');
            var url = "/Offer/NewOffer"; // the script where you handle the form input.

            $.ajax({
                type: "POST",
                url: url,
                data: $("#newOfferForm").serialize(), // serializes the form's elements.
                success: function (data) {
                    alert(data); // show response from the php script.
                }
            });
        })
    </script>
}


   