﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<h2>Search</h2>

@Html.Partial("AddNewOffer")
@section scripts {
    <script>
        $(document).ready(function () {
            alert('hi');
        });
        </script>
        }
