@import "bootstrap";
@import "animate"; 


// Import
@import "mixins/colors";
@import "mixins/global";


























option {
    padding: 2px;
}


select {
  background-image:
    linear-gradient(45deg, transparent 50%, $darkGrey 50%),
    linear-gradient(135deg, $darkGrey 50%, transparent 50%) !important;
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
    
    &:focus{
        background-image:
            linear-gradient(45deg, $mainBlue 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, $mainBlue 50%) !important;
        background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        outline: 0;
        border: 2px solid $mainBlue;
        -webkit-transition: border-color 0.35s, -webkit-transform 0.35s;
        transition: border-color 0.35s, transform 0.35s;
   }
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

