

.saller_img, .edit-del{width: 20%; float: left;}
.saller_img img{width:100%;}

.saller_name{width: 60%; float: left;}

.edit-del span{display: inline-block;}
.edit-del span a i{font-size: 18px;}
.edit-del span a:hover i{color: #aaa;}

.radio-custom:checked + .radio-custom-label:before{content: "check";
    font-family: Material Icons;
    background: #00b0ee;
    color: #ffffff !important;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;}
	.entry.padd-10{padding:10px !important;}
	
	#editabel{display:none;}
	
	.saller_name_edit{width:70%; float:left;}
	.saller_img_edit{width:30%; float:left;}
	.saller_img_edit img{width:100%;}
	
	.saller_img_edit .btn_uploard{width:100%; display:block; background:#00b0ee; color:#fff; min-width:100% !important; position:relative; max-width:100% !important; overflow:hidden;}
        .saller_img_edit .btn_uploard span {display:block; text-transform:capitalize; cursor:pointer;        }
    .btn_uploard input{position:absolute; top:0px; left:0px; opacity:0;  height:100%; cursor:pointer; }
	
	.next_btn{position:relative;  padding: 0px;    margin: 0px;    border: 0px;    background: 0px;    width: auto;    height: auto;}
	.next_btn i{font-size:18px; position:relative; top:3px;}
	.next_btn:hover{color:#00b0ee;}
	.next_btn:hover i{color:#00b0ee;}
	.main_divs{width:100%; float:left; font-size:12px;}
	
	.title_offers{width:60%; float:left; text-align:right; color:#ccc;}
	.details_offers{width:40%; float:left; text-align:left;}
	.compirall{font-size:14px; color:#333;}
	
	.offer_main_box{width:100%; float:left; border-bottom:1px solid;}
	.number_offer{margin-top:0px;}
	
	.main_divs a{display:block; position:relative; text-align:center}
	.main_divs a i{position:relative;}
	
	.comment_titile{width:100%; float:left; display:none;}
	.comment_titile textarea{resize:none;}
	.save_close{width:auto; position:relative; float:left; cursor:pointer;}
	.save_close i{position:relative; margin:0px; padding:0px;     top: 3px; font-size:18px;}
	
	
	.uploard{ display:block; width:100%;padding: 5px 0px 10px; text-align:center;   }
	.border_top_bootm{ border-width: 1px 0px 1px 0px; border-style:solid;  border-color:#00b0ee;}
	
	.border_deshed{border-bottom:1px dashed ;}
	.models i{position:relative; top:5px;}
	#upload_docs_popup{display:none;}
	.icons_rel i{position:relative; top:5px;}
	.stage_conter{width:auto; float:right; }
	
	button.icons_rel{height:auto; padding: 3px 10px 8px;}
	
	.title_new_offer{width:100%; float:left; padding:5px 0px; font-size:16px;}
	
	.title_new_offer ~ .form-horizontal .form-group{margin-bottom:0px !important;}
	.title_new_offer ~ .form-horizontal .form-group label{padding:10px 0px;}
	
	.nothing_input.form-control[disabled] {border:none; background:none;     color: #ccc;    padding: 0px;}
	
	.totle_offer{font-size:12px;}
	.totle_offer th{font-weight:500;    color:#000;}
	
	
	.compare_table{width:100%; float:left;}
	.compare_table tr{font-size:12px;}
	.compare_table tr th{ text-align:right; width:150px;}

	.comair_num h3{padding:0px; margin:0px;}
	
	.btn_blue.delet_com{padding:5px !important; font-size:12px !important;}
	.btn_blue.delet_com i{font-size:18px; }
	
	.padding_tabale{padding:0px !important; margin:0px !important;}
	.padding_tabale .table{margin-bottom:0px;}
	
	.titile_comapirs{
    text-align: right;
    width: 150px;
}

/*home page login*/
	.btn_headar{float: right;   margin-top: 10px;}
	.bg_login{width:100%; float:left; height:calc(100vh - 75px); position:relative; background:url(../images/jakob_owens_127176.jpg) no-repeat; background-size:cover; background-position:bottom}
	.heading_login_page{width:100%; float:left; text-align:center; margin-top:5%;}
	.heading_login_page h1 , .heading_login_page p{color:#fff;}
	.entry_login{width:100%; float:left; margin-top:50px; text-align:center}
	.entry_login_2{width:100%; float:left; margin-top:20px; text-align:center}
	.entry_login input{height: 46px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px inset;
    font-family: "Open Sans";
    font-size: 14px;
    color: rgb(85, 85, 85);
    text-align: center;
    padding: 0px 6px;
	width:25%;
    transition: border-color 200ms ease, box-shadow 200ms ease;}
	.entry_login_2 button{width:25%; height: 46px; font-weight:300;}
	.login_popup_title{text-align:center; color:#00b0ee;}
	.form_login{width:100%; padding:0px 10%; margin:40px 0px;}
	.model_login{width:400px;}
	.check_div{width:100%; float:left;}
	.check_div a {float:right;}
	.login_btn_div{width:100%; float:left; margin-top:20px; text-align:center;}
	
	
	
	
	.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}