﻿@model DubTech.Controllers.Models.Attachment.AttachmentView





<!-- The fileinput-button span is used to style the file input field as button -->
<span class="btn btn-success fileinput-button">
   
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="postedFile[]" data-url="/Attachment/Upload" multiple>
</span>
<br /><br />
<!-- The global progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files"></div>
<br>

<p/>

@section scripts {
<script>
    $(document).ready(
        function () {
            'use strict';
            
            $('#fileupload').fileupload({
                datatype: 'json',
                url: '/Attachment/Upload',
                done: function (e, data) {
                    alert('data: ' + data);
                    alert('Success: ' + data.result.Success);
                    alert('Message: ' + data.result.Message);
                    alert('files: ' + data.result.Files);
                    for (var i = 0; i < data.result.Files.length;i++) {
                        var filename = data.result.Files[i].Filename;
                        $('<p/>').text(filename).appendTo(document.body);
                    }
                },
                error: function() { alert('An error occured.');}
            });
        });
</script>
    }