﻿
<nav class="navbar mainNavBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle main_toggle collapsed" data-toggle="collapse" data-target="#main_navigation" aria-expanded="false">
                <span class="sr-only">Toggle nav</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Dashboard"><img class="logo" src="@Url.Content("/content/images/logo.png")" alt="Offer Complaince"></a>
        </div>
        <div class="collapse navbar-collapse" id="main_navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown usernameHere">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      @Session["FirstName"] @Session["LastName"]<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Settings">Settings</a></li>
                        <li class="divider"></li>
                        <li>
                            <form method="post" action="@Url.Content("~/Account/Logout")">
                                <button class="logout" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                @*</li>*@
                <li>
                    <div class="userPic"><img src="@Url.Content("/content/images/demo/user.jpg")" alt="NM"></div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="mainNavLinks" href="/Dashboard">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="30px" height="30px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
<style type="text/css">
    .st0 {
        fill: none;
        stroke: #7D7D7D;
        stroke-miterlimit: 10;
    }
</style>
                        <g id="mainNavIcon">
                        <circle class="st0" cx="15" cy="15" r="13.7" />
                        <circle class="st0" cx="15" cy="10.3" r="3.7" />
                        <path class="st0" d="M15,24.1c-3.1,0-5.8-1.6-7.4-4c0-2.5,4.9-3.8,7.4-3.8c2.5,0,7.4,1.3,7.4,3.8C20.8,22.5,18.1,24.1,15,24.1z" />
</g>
</svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="mainNavLinks active" href="/Listing/Search">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="30px" height="30px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
<style type="text/css">
    .st0 {
        fill: none;
        stroke: #7D7D7D;
        stroke-width: 1.2;
        stroke-miterlimit: 10;
    }
</style>
<g id="mainNavIcon">
                        <path class="st0" d="M15,2.7l14.1,12.7h-3.7h-0.3v0.3v11.6h-6.9v-8.7v-0.3H18h-6h-0.3v0.3v8.7H4.8V15.7v-0.3H4.5H0.9L15,2.7
		 M15,2.3L0.1,15.7h4.5v11.9H12v-9h6v9h7.5V15.7h4.5L15,2.3L15,2.3z" />
</g>
</svg>
                        <span>Listings </span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a class="mainNavLinks" href="/Seller/Index">                       
                        <span>Sellers </span>
                        @*<span class="sr-only">(current)</span>*@
                    </a>
                </li>
                <li>
                    <a class="mainNavLinks" href="/Buyer/Index">
                        
                        <span>Buyers </span>
                        @*<span class="sr-only">(current)</span>*@
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>