﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Offer Loop - @ViewBag.Title</title>

    <link href="~/Content/styles/other.css" rel="stylesheet" />
    @Styles.Render("~/bundles/jquery-file-upload-css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,300italic,400italic,500italic,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    @if (Session["UserId"] != null)
    {
        Html.RenderPartial("_Header");
    }
    else
    {
        Html.RenderPartial("_PublicHeader");
    }

    @RenderBody()

    <div id="modalWrapper" style="display:none;">
        <div class="modal fade in" style="display:block;" id="modalpopup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="editModal" aria-label="Close" onclick="$('#modalWrapper').hide();"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <div class="modal-body" id="modalBody">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="editModal" onclick="$('#modalWrapper').hide();">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        &copy; @DateTime.Now.Year  | @Html.ActionLink("Terms of Use", "Terms-of-Use", "Public") | @Html.ActionLink("Privacy Policy", "Privacy-Policy", "Public") | @Html.ActionLink("Contact Us", "Contact-Us", "Public")
    </footer>


    @Scripts.Render("~/bundles/jquery")
  

    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-file-upload")
    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)
    <div id="modalfrgtpass" style="display:none;">
        <div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog model_login" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="login_popup_title">Forgot Password</h3>
                            <div class="form_login long_main_box" id="divfrgtpass">


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        new WOW().init();
    </script>
   <script>
       $('#modalregister').show();
       $('#modalfrgtpass').show();       
       $('#divregister').load("/Account/UserRegistration/");
       $('#divfrgtpass').load("/Account/ForgotPassword/");
       $('#divlogin').load("/Account/_LogInModal/");
       
   </script>
</body>
</html>

