﻿


<nav class="navbar mainNavBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img class="logo" src="/content/images/logo.png" alt="Offer Complaince"></a>
        </div>

        <button type="submit" class="btn btn_mainBlue save_btn btn_headar" data-toggle="modal" data-target="#login">LOG IN</button>
    </div>
</nav>