﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Offer Loop - @ViewBag.Title</title>

    @Styles.Render("~/bundles/jquery-file-upload-css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,300italic,400italic,500italic,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    

    @RenderBody()

    <footer>
        &copy; @DateTime.Now.Year  | @Html.ActionLink("Terms of Use", "Terms-of-Use", "Public") | @Html.ActionLink("Privacy Policy", "Privacy-Policy", "Public") | @Html.ActionLink("Contact Us", "Contact-Us", "Public")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-file-upload")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    
    <script>
                new WOW().init();
    </script>

</body>
</html>
