﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Test St.<br />
    Santa Ana, CA 92705<br />
    <abbr title="Phone">P:</abbr>
    714.555.1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@offercompliance.com">support@offercompliance.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@offercompliance.com">Marketing@offercompliance.com</a><br/>
    <strong>Sales:</strong> <a href="mailto:Sales@offercompliance.com">Sales@offercompliance.com</a>
</address>