﻿
@*<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <ul class="you_are_here">
                        <li class="hidden-xs go_back_home"><a href="index.html">Home</a></li>
                        <li class="hidden-xs"><i class="material-icons">navigate_next</i></li>
                        <li class="current_page"><a class="active" href="#">Billing information</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>*@
<section id="billingInfor" class="">
    <div class="container">
        <div class="row marg-v-20">


            <form role="form" action="" method="post">
                <div class="row-fluid ">
                    <div id="sellersInformation" class="row-fluid">
                        <div class="col-md-3 col-sm-12 ">
                            <div class="row-fluid pull-right editable_mode">
                                <a href="#">
                                    <i class="material-icons icon_has_topic">edit</i><span class="topic_has_icon">Edit</span>
                                </a>
                            </div>
                            <div class="boxesPadding">
                                <h4 class="boxesTopic">
                                    <i class="material-icons icon_has_topic">payment</i>
                                    <span class="topic_has_icon">Payment Information</span>
                                </h4>
                                <hr>
                                <div class="row boxesParagraph">
                                    <div class="col-md-12  col-xs-12">
                                        <form>
                                            <div class="form-group">
                                                <div class="input-group full_width">
                                                    <input type="text" class="form-control" id="sellerfullName" placeholder="Full Name" value="Nancy Moeller" required="required" maxlength="100">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="credit_card_limit" placeholder="Credit Card Ending in">
                                                    <div class="input-group-addon">4758</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group date  full_width">
                                                    <input type="text" class="form-control" id="card_expire_date" required="required" placeholder="Expires 60/2020">


                                                </div>
                                            </div>

                                            <div class="form-group full_width">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="card_sic" placeholder="SIC ***" required="required" maxlength="100">
                                                </div>
                                            </div>
                                            <div class="form-group full_width">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="user_address" placeholder="Address" value="5481 E Santa  Ana" required="required" maxlength="100">
                                                </div>
                                            </div>

                                            <div class="form-group full_width">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="user_city" placeholder="City" value="Anaheim Hills" required="required" maxlength="100">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 half_padding">
                                                    <div class="form-group full_width">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="userstate" placeholder="State" value="CA" required="required" maxlength="100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 half_padding">
                                                    <div class="form-group full_width">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="userZip" placeholder="Zip code" value="92807" required="required" maxlength="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid call_to_action padd-h-20">
                                <div class="text-center">
                                    <button class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</button>
                                    <button class="btn ctaBtn btn_mainBlue save_btn">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 no-padd">
                            <div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="row-fluid pull-right editable_mode">
                                        <a href="#">
                                            Update Billing information
                                        </a>
                                    </div>

                                    <div class="boxesPadding boxesPadding_full">
                                        <h4 class="boxesTopic">
                                            <i class="material-icons icon_has_topic">account_box</i>
                                            <span class="topic_has_icon">Account Details</span>
                                        </h4>
                                        <hr>
                                        <div class="">
                                            <div class="col-md-3 col-xs-12 entry">
                                                <p class="no-marg">Co-Pay</p>
                                            </div>
                                            <div class="col-md-6 col-xs-12 entry">
                                                <p class="no-marg">Seven Gables Real Estate Team Account</p>
                                            </div>
                                            <div class="col-md-3 col-xs-12 entry">
                                                <p class="no-marg"><strong>$ 50 per month</strong></p>
                                            </div>
                                            <div class="entry"></div>
                                        </div>
                                        <div class="row boxesParagraph">

                                            <div class="table-responsive  marg-15">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" width="20%">Plans</th>
                                                            <th class="text-center" width="16%">Single Agent</th>
                                                            <th class="text-center" width="16%">Team</th>
                                                            <th class="text-center" width="16%">Brokerage 1</th>
                                                            <th class="text-center" width="16%">Brokerage 2</th>
                                                            <th class="text-center" width="16%">Brokerage 3</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Monthly</td>
                                                            <td>$95</td>
                                                            <td>$295</td>
                                                            <td>$595</td>
                                                            <td>$1,595</td>
                                                            <td>$3,995</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Agent Account</td>
                                                            <td>1</td>
                                                            <td>5</td>
                                                            <td>10</td>
                                                            <td>50</td>
                                                            <td>100</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Extra Account</td>
                                                            <td></td>
                                                            <td>$75</td>
                                                            <td>$75</td>
                                                            <td>$75</td>
                                                            <td>$50</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <div class="col-md-6 col-xs-12 marg-v-15">
                                                        <div class="boxesPadding boxesPadding_full padd-20 col-xs-12 no-padd">
                                                            <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd  marg-t-10 "><span class="">Convert to Single Agent</span></button>

                                                            <p class="editable_mode colordarkGrey no-marg line-height no-padd-i pull-left "><span class="padd-v-15 pull-left "><strong>Note: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
                                                            <br>
                                                            <p class="editable_mode colordarkGrey no-marg line-height no-padd-i pull-left ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 marg-v-15">
                                                        <div class="boxesPadding boxesPadding_full padd-20 col-xs-12 no-padd">
                                                            <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd marg-t-10 "><span class="">Request Transfer</span></button>

                                                            <p class="editable_mode colordarkGrey no-marg line-height no-padd-i pull-left "><span class="padd-v-15 pull-left "><strong>Note: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
                                                            <br>
                                                            <p class="editable_mode colordarkGrey no-marg line-height no-padd-i pull-left ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>




                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>