﻿
<div class="col-md-12">
    
    <div class="col-md-5 col-xs-12  padd-v-40">

        <div class="boxesPadding boxesPadding_full no-padd">
            <div class="row-fluid pull-right editable_mode">
                <a href="#">
                    <i class="material-icons icon_has_topic">edit</i><span class="topic_has_icon">Edit</span>
                </a>
            </div>
            <h4 class="boxesTopic">
                <i class="material-icons icon_has_topic">sort</i>
                <span class="topic_has_icon">Lisiting Status</span>
            </h4>
            <hr>
            <div class="row boxesParagraph">
                <div class="col-md-12 col-xs-12">

                    <div class="">
                        <form class="address_form">
                            <div class="row form-group full_width">
                                <div class="col-xs-10">
                                    <ul>
                                        <li>
                                            <select id="statusFilter" class="form-control">
                                                <option value="active">Active</option>
                                                <option value="in_escrow">In Escrow</option>
                                                <option value="closed">Closed</option>

                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 no-padd">
                                    <button class="btn ctaBtn  cancel_btn fs-20 padd-5 line-height"><i class="material-icons">delete_forever</i></button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-md-12 col-xs-12">

                    <div class="">
                        <form class="address_form">
                            <div class="row form-group full_width">
                                <div class="col-xs-10">
                                    <ul>
                                        <li>
                                            <select id="statusFilter" class="form-control">
                                                <option value="active">Active</option>
                                                <option value="in_escrow">In Escrow</option>
                                                <option value="closed">Closed</option>

                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 no-padd">
                                    <button class="btn ctaBtn  cancel_btn fs-20 padd-5 line-height"><i class="material-icons">delete_forever</i></button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-md-12 col-xs-12">

                    <div class="">
                        <form class="address_form">
                            <div class="row form-group full_width">
                                <div class="col-xs-10">
                                    <ul>
                                        <li>
                                            <select id="statusFilter" class="form-control">
                                                <option value="active">Active</option>
                                                <option value="in_escrow">In Escrow</option>
                                                <option value="closed">Closed</option>

                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 no-padd">
                                    <button class="btn ctaBtn  cancel_btn fs-20 padd-5 line-height"><i class="material-icons">delete_forever</i></button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

            <div class="row-fluid call_to_action bdr-none padd-h-10">
                <div class="text-center">
                    <button class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</button>
                    <button class="btn ctaBtn btn_mainBlue save_btn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-xs-12  padd-v-40">
        <div class="boxesPadding boxesPadding_full no-padd">
            <h4 class="boxesTopic">
                <i class="material-icons icon_has_topic">sort</i>
                <span class="topic_has_icon">Offer Instructions</span>
            </h4>
            <hr>
            <div class="row padd-v-30 padd-h-40">
                <div class="col-md-12 col-xs-12 boxesPadding_full colordarkGrey padd-v-15">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="form-group move_down_group full_width padd-v-10 padd-h-40">
                <div class="input-group">
                    <input id="sameListing" class="checkbox-custom" name="sameListing" type="checkbox" required="required">
                    <label for="sameListing" class="checkbox-custom-label colordarkGrey">Receive tet notifications of new offers</label>
                </div>
            </div>
        </div>

    </div>
</div>