﻿<div class="col-md-12 ">
    <div class="padd-v-40">
        <div class="row-fluid pull-right editable_mode">
            <a href="#">
                <i class="material-icons icon_has_topic">edit</i><span class="topic_has_icon">Edit</span>
            </a>
        </div>

        <div class="boxesPadding">
            <h4 class="boxesTopic">
                <i class="material-icons icon_has_topic">account_circle</i>
                <span class="topic_has_icon">Manage Users</span>
            </h4>
            <hr>
            <div class="boxesParagraph">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="input-group full_width">
                                <input type="text" class="form-control" id="additionalName" placeholder="Full Name" value="Starr Hinojos" required="required" maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="email" class="form-control" id="additionaluserEmail" placeholder="Email" value="starhinojos@gmail.com" required="required" maxlength="13">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-4">
                        <form class="address_form">
                            <div class="row form-group full_width">
                                <div class="col-xs-10">
                                    <ul>
                                        <li>
                                            <select id="statusFilter" class="form-control">
                                                <option value="read_only">Read Only</option>
                                                <option value="full_access">Full Accress</option>

                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 no-padd">
                                    <button class="btn ctaBtn  cancel_btn fs-20 padd-5 line-height"><i class="material-icons">delete_forever</i></button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="input-group full_width">
                                <input type="text" class="form-control" id="additionalName" placeholder="Full Name" value="Todd Moeller" required="required" maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="email" class="form-control" id="additionaluserEmail" placeholder="Email" value="todd@gmail.com" required="required" maxlength="13">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-4">
                        <form class="address_form">
                            <div class="row form-group full_width">
                                <div class="col-xs-10">
                                    <ul>
                                        <li>
                                            <select id="statusFilter" class="form-control">
                                                <option value="read_only">Read Only</option>
                                                <option value="full_access">Full Accress</option>

                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 no-padd">
                                    <button class="btn ctaBtn  cancel_btn fs-20 padd-5 line-height"><i class="material-icons">delete_forever</i></button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <div class="input-group full_width">
                                <input type="text" class="form-control" id="additionalName" placeholder="Full Name" required="required" maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="email" class="form-control" id="additionaluserEmail" placeholder="Email" required="required" maxlength="13">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-4">
                        <form class="address_form">
                            <div class="row form-group full_width">
                                <div class="col-xs-10">
                                    <ul>
                                        <li>
                                            <select id="statusFilter" class="form-control">
                                                <option value="read_only">Read Only</option>
                                                <option value="full_access">Full Accress</option>

                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 no-padd">
                                    <button class="btn ctaBtn  cancel_btn fs-20 padd-5 line-height"><i class="material-icons">delete_forever</i></button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-fluid call_to_action">
            <a href="#" class="">Change Password</a>
            <div class="right">
                <button class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</button>
                <button class="btn ctaBtn btn_mainBlue save_btn">Save</button>
            </div>
        </div>
    </div>
</div>