﻿@model Offer.Models.Account.ProfileData
<div class="col-md-12">
    @*<div class="row-fluid pull-right editable_mode">
        <a href="#">
            Update Billing information
        </a>
    </div>*@
    <div class="padd-v-40" id="profile-div">
        <div class="row-fluid pull-right editable_mode">
            <a href="#">
                <i class="material-icons icon_has_topic">edit</i><span class="topic_has_icon">Edit</span>
            </a>
        </div>
        <div class="boxesPadding">
            <h4 class="boxesTopic">
                <i class="material-icons icon_has_topic">account_circle</i>
                <span class="topic_has_icon">Profile</span>
            </h4>
            <hr>
            <div class="row boxesParagraph">
                <div class="col-md-4 col-sm-4">

                    <div class="form-group">
                        <div class="input-group full_width">
                            <input type="text" class="form-control" id="UserName" placeholder="UserName" value="Nancy Moeller" required="required" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group full_width">
                        <div class="input-group">
                            <input type="text" class="form-control" id="userMobile" placeholder="Mobile" value="00745605" required="required" maxlength="100">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 half_padding">
                            <div class="form-group full_width">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="sellerState" placeholder="State" required="required" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 half_padding">
                            <div class="form-group full_width">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="sellerState" placeholder="Zip code" required="required" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4  col-sm-4">
                    <form class="page_form">
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="text" class="form-control" id="userMobile" placeholder="Mobile Number" value="01727436" required="required" maxlength="13">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group full_width ">
                                <input type="text" class="form-control" id="userAddress" placeholder="Address" value="5781 E Santa Canyon Road">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="text" class="form-control" id="userMobile" placeholder="Mobile" value="00745605" required="required" maxlength="100">
                            </div>
                        </div>

                    </form>
                </div>

                <div class="col-md-4  col-sm-4">
                    <form class="address_form">
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="text" class="form-control" id="userProperty" placeholder="Property" value="Seven Gables Real Estate" required="required" maxlength="13">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group full_width ">
                                <input type="text" class="form-control" id="userpropertycity" placeholder="City" value="Anaheim Hills">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group full_width">
                                <input type="email" class="form-control" id="useremail" placeholder="Email" value="nancy@themoellerteam.com" required="required" maxlength="100">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid call_to_action">
       
            <button type="button" class="btn btn-primary" onclick="ShowChangePass()">
                Change Password
            </button>

            <div class="right">
                <button class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</button>
                <button class="btn ctaBtn btn_mainBlue save_btn">Save</button>
            </div>
        </div>
    </div>
    <div class="padd-v-40" id="chgpassdiv" style="display:none;">

    </div>
    </div>



<script>
   
        
        $('#chgpassdiv').load('/Settings/ChangePassword');
       

    function ShowChangePass() {
        $('#chgpassdiv').show();
        $('#profile-div').hide();
    }
    function CancelChangePass() {
        $('#chgpassdiv').hide();
        $('#profile-div').show();
    }
</script>