﻿@model Offer.Models.Account.ChangePasswordModel

<div class="boxesPadding">
    <h4 class="boxesTopic">
       
        <span class="topic_has_icon">Change Password</span>
    </h4>
    <hr>
    <div class="row boxesParagraph">
        @using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { id = "FRM8", enctype = "multipart/form-data", @class = "form-horizontal" }))
        {



            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Old Password</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })

                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> New Password</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", id = "password" })
                    <span id="result"></span>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Confirm New Password</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = "Re-Type New Password" })

                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                </div>
            </div>






    <div class="row-fluid call_to_action">
        <button type="button" class="btn btn-secondary" onclick="CancelChangePass()">Close</button>
        <button type="submit" class="btn btn-primary" id="savepass">Save changes</button>
    </div>
        }
    </div>
</div>
@*<script>
    
        $('#savepass').click(function () {
            alert('hi');
          //  var formData = new FormData($('#FRM8')[0]);
            $.ajax({
                url: '../Settings/ChangePassword',
                type: 'POST',
                data: $('form').serialize(),
                sucess: function (data) {
                    if (data.Success == true)
                    {
                        alert(data.Message);
                        window.location.href = "http://www.google.com";
                    }
                    else {
                        alert(data.Message);
                        window.location.reload();
                    }
                    
                },
                error: function () { alert('An error occured.'); }
            });
        });
   
</script>*@