﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <ul class="you_are_here">
                        <li class="hidden-xs go_back_home"><a href="index.html">Home</a></li>
                        <li class="hidden-xs"><i class="material-icons">navigate_next</i></li>
                        <li class="current_page"><a class="active" href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="addNewListing" class="wrapEmAll padd-v-15">
    <div class="container">
        <div class="col-md-3 ">
            <div class="col-md-12 boxesPadding_full no-padd">
                <ul class="nav nav-tabs vertival-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#user_info" aria-controls="user_info" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#manage_users" aria-controls="manage_users" role="tab" data-toggle="tab">Manage Users</a></li>
                    <li role="presentation"><a href="#billing" aria-controls="billing" role="tab" data-toggle="tab">Billing</a></li>
                    <li role="presentation"><a href="#listing_default" aria-controls="listing_default" role="tab" data-toggle="tab">Listing Defaults</a></li>
                </ul>

            </div>
        </div>
        <div class="tab-content col-md-9 no-padd">
            <div role="tabpanel" class="tab-pane active" id="user_info">


            </div>
            <div role="tabpanel" class="tab-pane" id="manage_users">


            </div>
            <div role="tabpanel" class="tab-pane" id="billing">


            </div>
            <div role="tabpanel" class="tab-pane" id="listing_default">

            </div>

        </div>

    </div>
</section>
@section scripts {
    <!--Javascript goes here-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="javascripts/global.js" type="text/javascript"></script>
    <script src="javascripts/wow.min.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(document).ready(function () {
            $("#listing_date, #status_change_date").datepicker({
                todayHighlight: true,

            });
        });
    </script>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Settings/_Profile', // The method name + paramater
                success: function (data) {
                    $('#user_info').html(data); // This should be an empty div where you can inject your new html (the partial view)
                }
            });
        });

        $("ul.vertival-tabs").on("click", "li", function () {
            var tabId = $(this).find("a").attr('href');


            if (tabId == "#user_info") {

                $.ajax({
                    url: '/Settings/_Profile', // The method name + paramater
                    success: function (data) {
                        $('#user_info').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }
            else if (tabId == "#manage_users") {

                $.ajax({
                    url: '/Settings/_ManageUsers', // The method name + paramater
                    success: function (data) {
                        $('#manage_users').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }
            else if (tabId == "#billing") {
                $.ajax({
                    url: '/Settings/_Billing', // The method name + paramater
                    success: function (data) {
                        $('#billing').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }
            else if (tabId == "#listing_default") {
                $.ajax({
                    url: '/Settings/_ListingDefaults', // The method name + paramater
                    success: function (data) {
                        $('#listing_default').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }

        });

    </script>
}