﻿@{
    Layout = null;
}
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
@model List<Offer.Models.Offer.OfferGridItem>
<div class="col-sm-12">
    <button class="btn ctaBtn btn_mainBlue  border_btn col-md-3 col-xs-12 no-padd txt-upper text-center" onclick="newOfferGroup()"><i class="material-icons icon_has_topic fs-20">group_add</i><span class="topic_has_icon">New Offer</span></button>    
</div>
<div class="col-xs-12">
    <button class="pull-right btn  compare_btn icons_rel no-padd txt-upper" onclick="CompareOffer()">
        <i class="material-icons icon_has_topic">search</i>
        Compare
    </button>
</div>
<div class="full-width padd-10 pull-left">
    <h3 class="col-sm-12 col-xs-12 no-marg no no-padd full-width text-center-xs colormainBlue ">
        <i class="material-icons icon_has_topic fs-36">assignment</i>
        <span class="topic_has_icon padd-h-40 float-r-sm">Offer list</span>
        
        <div class="form-group move_down_group pull-right">
            <div class="input-group">
                <input id="toggleAll" class="checkbox-custom" type="checkbox" >
                <label for="toggleAll" class="checkbox-custom-label">Compare all</label>
            </div>
        </div>
    </h3>
</div> 

@{int i = 1;}
@foreach (var item in Model)
            {
<div class="offer_main_box padd-v-5">
    <div class="col-lg-1">
        <h1 class="colormainBlue number_offer">@i</h1>
        <button class="next_btn" id="list_detial" onclick="OfferDetail(@item.OfferId)"><i class="material-icons icon_has_topic">play_circle_filled</i></button>
    </div>

    <div class="col-lg-3 padd-5">
        <div class="main_divs"><strong>Offer @i</strong> from</div>
        <div class="main_divs">Original Offer</div>
        <div class="main_divs">Expires: @String.Format("{0:dd MMM. yyyy}", item.OfferExpiryDate)</div>
        <ul class="no-marg">
            <li>
                <select name="color-scheme" id="drpoffsts-@item.OfferId" class="form-control drpoffsts">
                    @foreach (var sta in ViewBag.StatusResult)
                    {
                        if (item.offerstatus == sta.Code)
                        {
                            <option selected="@sta.Code" value="@sta.Code">@sta.DisplayName</option>
                        }
                        else
                        {
                            <option value="@sta.Code">@sta.DisplayName</option>
                        }
                    }

                </select>
            </li>
        </ul>
    </div>


    <div class="col-lg-3 padd-5">
        <div class="main_divs">
            <div class="title_offers">Purchase Price: </div>
            <div class="details_offers">&nbsp; $@string.Format("{0:n0}", item.PurchasePrice)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Deposit: </div>
            <div class="details_offers">&nbsp;$@string.Format("{0:n0}", item.Deposite)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Closing Credits: </div>
            <div class="details_offers">&nbsp;$@string.Format("{0:n0}", item.ClosingCost)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Contingent: </div>
            <div class="details_offers">&nbsp;@item.Contingent </div>
        </div>
    </div>

    <div class="col-lg-3 padd-5">
        <div class="main_divs">
            <div class="title_offers">Financing: </div>
            <div class="details_offers">&nbsp;@item.Financing</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Loan Amount: </div>
            <div class="details_offers">&nbsp;$@string.Format("{0:n0}", item.LoanAmount)</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Close of Escrow: </div>
            <div class="details_offers">&nbsp;@item.CloseofEscrow Days</div>
        </div>

        <div class="main_divs">
            <div class="title_offers">Buyer's Agent: </div>
            <div class="details_offers">&nbsp;@item.BuyersAgent</div>
        </div>
    </div>


    <div class="col-lg-1 ">
        <div class="main_divs"><a href="javascript:void(0);" data-toggle="modal" data-target="#offer_new" onclick="SendCounterOffer(@item.OfferId)"><i class="material-icons icon_has_topic">loop</i></a></div>
        <div class="main_divs"><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" onclick="SendCounterOffer(@item.OfferId)"><i class="material-icons icon_has_topic">insert_drive_file</i></a></div>
        <div class="main_divs"><a href="javascript:void(0);" name="notes-@item.OfferId" class="notes"><i class="material-icons icon_has_topic">sms</i></a></div>
    </div>


    <div class="col-lg-1">
        <div class="form-group move_down_group pull-right">
            <div class="input-group">            
                                
                    <input id="toggleAll-@item.OfferId" value="@item.OfferId" type="checkbox" class=" checkbox-custom chex" name="chex">
                    <label for="toggleAll-@item.OfferId" class="checkbox-custom-label compirall marg-t-25"></label>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-xs-12">
        <div class="comment_titile notes" id="notes-@item.OfferId">
            Note
            <textarea class="full-width" rows="2" id="txtnote-@item.OfferId"></textarea>
            <div class="save_close closwsms" name="closwsms-@item.OfferId"><i class="material-icons icon_has_topic">close</i> Save And Close</div>
        </div>
    </div>

</div>
                i++;
}

<script>
    $('.drpoffsts').change(function () {
        var OffId = $(this).attr('id').split('-')[1];
        var Status = $(this).val();
        alert(Status);
        $.ajax({
            url: '/Listing/ChangeOfferStatus?OfferId=' + OffId + '&Status=' + Status, // The method name + paramater
            success: function (data) {
                alert(data.Message);
                $.ajax({
                    url: '/Listing/_DisplayOffer?ListingId='+ data.ListId, // The method name + paramater
                    success: function (data) {
                        $('#offerlistdiv').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }
        });
    });
    function OfferDetail(Id) {
        $.ajax({
            url: '/Listing/_OfferDetail?OfferId=' + Id ,
            success: function (data) {
                $('#offerdetail').html(data);
                $('#offerdetail').show();
                $('#offerlistdiv').hide();
            }
        });
    }
    function openfilecabinate(oFFERiD)
    { 
        $.ajax({
            url: '/Offer/_FileCabinate?OfferId=' + oFFERiD ,
        success: function (data) {
            $('#myModal').html(data);
            $('#myModal').modal();
           
        }
    });

    }

    function SendCounterOffer(oFFERiD)
    { 
        $.ajax({
            url: '/Listing/SendCounterOffer?OfferId=' + oFFERiD ,
            success: function (data) {
                $('#offer_new').html(data);
                $('#offer_new').modal();
           
            }
        });

    }
        $("#toggleAll").change(function () {

            if (this.checked) {
                $(".chex").prop('checked', true);
            } else {
                $(".chex").prop('checked', false);
            }

        });

   

    function CompareOffer()
    {
        var temp = "";

        $('input[name=chex]').each(function () {
            if ($(this).is(':checked')) {
                if (temp == "") {
                    temp += $(this).val();
                }
                else {
                    temp += "," + $(this).val();
                }

            }
        })

        // alert("val---" + values.join(", "));
        if (temp != "") {
            $.ajax({
                type: 'POST',
                url: '/Listing/_CompareOffers?data=' + temp,
                success: function (data) {
                    $('#compair_main').html(data);
                    $('#compair_main').show();
                    $('#offerdetail').hide();
                    $('#offerlistdiv').hide();
                },
                error: function () {

                }
            });
        }
    }
</script>
<script>
    $(document).ready(function () {
        $(".notes").click(function () {
            var i = $(this).attr('name').split('-')[1];
            $("#notes-" + i).slideToggle();
        });
        $(".closwsms").click(function () {
            var i = $(this).attr('name').split('-')[1];
            var note = $('#txtnote-' + i).val();

            $.ajax({
                url: '/Listing/_EditNote?OfferId=' + i + '&Note=' + note,
                success: function (data) {
                    $("#notes-" + i).slideToggle();
                }
            });

        });

        $("#open_upload, #save_upload_doc").click(function () {
            $("#upload_docs_popup").slideToggle();
        });
    });
    
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
</div>


<!-- Modal -->
<div class="modal fade" id="offer_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
</div>
