﻿<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title models" id="myModalLabel"> <i class="material-icons icon_has_topic">insert_photo</i>Offer File Cabinet</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-md-12 border_top_bootm">
                    <a href="#" class="uploard icons_rel marg-b-15" id="open_upload"><i class="material-icons icon_has_topic">backup</i> Upload More Documents</a>
                    <div class="form-group" id="upload_docs_popup">
                        <div class="input-group full_width" style="position:relative; ">
                            <textarea class="form-control marg-v-10" style="resize:none" placeholder="Drop files here to upload (or click)" rows="3"></textarea>
                            <input type="file" class="" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;">
                        </div>
                        <button type="submit" class="btn btn-primary marg-v-10" id="save_upload_doc">Save</button>

                    </div>
                </div>
                <div class="col-xs-12 col-md-12 border_deshed">
                    <h5><strong>Original Offer Documents</strong></h5>
                    <ul>
                        <li>
                            <a href="#">Lorem Ipsum.jpeg</a>
                        </li>
                        <li>
                            <a href="#">Lorem Ipsum.jpeg</a>
                        </li>
                        <li>
                            <a href="#">Lorem Ipsum.jpeg</a>
                        </li>
                    </ul>
                </div>


                <div class="col-xs-12 col-md-12 ">
                    <h5><strong>Additional Uploads</strong></h5>
                    <ul>
                        <li>
                            <a href="#">Lorem Ipsum.jpeg</a>
                        </li>
                        <li>
                            <a href="#">Lorem Ipsum.jpeg</a>
                        </li>
                        <li>
                            <a href="#">Lorem Ipsum.jpeg</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>