﻿@model Offer.Models.Listing.NewListingModel
                <form id="newListingForm">
                    <div class="form-group">
                        <label>Address</label>
                        @Html.TextBoxFor(t => t.Address, new {@class="form-group" })
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        @Html.TextBoxFor(t => t.City, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        @Html.TextBoxFor(t => t.State, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>Zip</label>
                        @Html.TextBoxFor(t => t.PostalCode, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>MLS Number</label>
                        @Html.TextBoxFor(t => t.MlsNumber, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>Seller First</label>
                        @Html.TextBoxFor(t => t.SellerFirstname, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>Seller Last</label>
                        @Html.TextBoxFor(t => t.SellerLastname, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>List Date</label>
                        @Html.TextBoxFor(t => t.ListDate, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>List Amount</label>
                        @Html.TextBoxFor(t => t.ListAmount, new { @class = "form-group" })
                    </div>
                    <div class="form-group">
                        <label>Expiration Date</label>
                        @Html.TextBoxFor(t => t.ExpirationDate, new { @class = "form-group" })
                    </div>
                    <input type="submit" />
                </form>

<script>
    $("#newListingForm").submit(function (e) {

        var url = "/Listing/NewListing"; // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: $("#newListingForm").serialize(), // serializes the form's elements.
            success: function (data) {
                alert(data); // show response from the php script.
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>