﻿@model List<Offer.Models.Listing.ListingGridItem>

    @foreach (var item in Model)
                {
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="active">
                        <div class="row-fluid listingBox status_active">
                            <ul>
                                <li>
                                    <select name="color-scheme" id="drpstatus-@item.ListingId" class="form-control drpstatus">
                                        @foreach (var sta in ViewBag.StatusResult)
                                        {
                                            if (item.Status_LookupCode == sta.Code)
                                            {
                                                <option selected="@sta.Code" value="@sta.Code">@sta.DisplayName</option>
                                            }
                                            else
                                            {
                                                <option value="@sta.Code">@sta.DisplayName</option>
                                            }
                                        }
                                    </select>
                                </li>
                                <li class="image_wrapper">
                                    <a href="/Listing/Detail/@item.ListingId"><img src="/content/images/demo/sample1.jpg" alt="property image"></a>
                                </li>
                                <li>
                                    <h4><a href="/Listing/Detail/@item.ListingId">@item.Address</a></h4>
                                    <p>@item.City, @item.State @item.PostalCode</p>
                                    <p>$@string.Format("{0:n0}", item.ListAmount) </p>
                                    
                                </li>
                                <hr>
                                <li>
                                    @{int i = 0;}

                                    @foreach (var data in item.OfferGroups.OfferGroupItems)
                                    {

                                        if (data.Status == "new")
                                        {
                                            i++;
                                        }
                                        else
                                        {

                                        }

                                    }
                                    @if (i > 0)
                                    {
                                        <p>
                                            @item.OfferGroups.OfferGroupItems.Count() Offers - <span class="notify_offer">@i New</span>
                                        </p>
                                        <div class="notify_offer_icon"><span class="notification_counter">@i</span></div>
                                    }
                                    else
                                    {   <p>@item.OfferGroups.OfferGroupItems.Count() Offers</p>

                                    }

                                </li>

                            </ul>
                        </div>
                    </div>
                }


<script>
    $('.drpstatus').change(function () {
        var ListId = $(this).attr('id').split('-')[1];
        var Status = $(this).val();      
        $.ajax({
            url: '/Listing/ChangeStatus?ListId=' + ListId + '&Status=' + Status, // The method name + paramater
            success: function () {
                $.ajax({
                    url: '/Listing/_DisplayAll', // The method name + paramater
                    success: function (data) {
                        $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    }
                });
            }
        });
    });
</script>
