﻿@model Offer.Models.Listing.SearchModel
@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/Listing/NewListing" class="btn btn_mainBlue navbar_btn btn_with_icon uppercase">
                        <i class="subnav_btn_icon material-icons">add_circle</i>
                        Add New Listing
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group"><input type="text" class="form-control" placeholder="Search"></div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <select id="statusFilter" class="form-control">
                        <option value="all">Show All</option>
                        <option value="active">Active</option>
                        <option value="escrow">Escrow</option>
                        <option value="closed">Closed</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section id="allListings" class="wrapEmAll">
    <div class="container">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="active">
            <div class="row-fluid listingBox status_active">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option selected="active" value="active">Active</option>
                            <option value="escrow">Escrow</option>
                            <option value="closed">Closed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <a href="/Listing/Detail/2"><img src="/content/images/demo/sample1.jpg" alt="property image"></a>
                    </li>
                    <li>
                        <h4><a href="/Listing/Detail/2">123 Pine Street</a></h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers - <span class="notify_offer">1 New</span></p>
                        <div class="notify_offer_icon"><span class="notification_counter">1</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="active">
            <div class="row-fluid listingBox status_active">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option selected="active" value="active">Active</option>
                            <option value="escrow">Escrow</option>
                            <option value="closed">Closed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample2.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="escrow">
            <div class="row-fluid listingBox status_escrow">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option value="active">Active</option>
                            <option selected="escrow" value="escrow">Escrow</option>
                            <option value="closed">Closed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample3.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="escrow">
            <div class="row-fluid listingBox status_escrow">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option value="active">Active</option>
                            <option selected="escrow" value="escrow">Escrow</option>
                            <option value="closed">Closed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample4.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="closed">
            <div class="row-fluid listingBox status_closed">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option value="active">Active</option>
                            <option value="escrow">Escrow</option>
                            <option selected="closed" value="closed">Closed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample4.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="closed">
            <div class="row-fluid listingBox status_closed">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option selected="active" value="active">Active</option>
                            <option value="escrow">Escrow</option>
                            <option selected="closed" value="closed">Closed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample3.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="cancelled">
            <div class="row-fluid listingBox status_cancelled">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option selected="active" value="active">Active</option>
                            <option value="escrow">Escrow</option>
                            <option value="closed">Closed</option>
                            <option selected="cancelled" value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample2.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 listingWrap wow" data-event-type="cancelled">
            <div class="row-fluid listingBox status_cancelled">
                <ul>
                    <li>
                        <select name="color-scheme" id="color-scheme" class="form-control">
                            <option value="active">Active</option>
                            <option value="escrow">Escrow</option>
                            <option value="closed">Closed</option>
                            <option selected="cancelled" value="cancelled">Cancelled</option>
                        </select>
                    </li>
                    <li class="image_wrapper">
                        <img src="/content/images/demo/sample1.jpg" alt="property image">
                    </li>
                    <li>
                        <h4>123 Pine Street</h4>
                        <p>Anaheim, CA 92807</p>
                        <p>$800,000</p>
                    </li>
                    <hr>
                    <li>
                        <p>3 Offers</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script>

        function newListingModal(productId) {
            $.ajax({
                url: '/Listing/NewListing/', // The method name + paramater
                success: function (data) {
                    $('#modalBody').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    $('#modalWrapper').show();
                }
            });
        }

      //  $(document).ready(function () {
      //      $('#listingTable').DataTable();
      //  });
    </script>
}


@*

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listings</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listings
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <button type="button" onclick="newListingModal()" class="btn btn-outline btn-primary btn-sm">New Listing</button>
                <table id="listingTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Status</th>
                            <th>List Amount</th>
                            <th>Total Offers</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.ListingItems)
                    {
                        <tr>
                            <td><a href="/Listing/Detail/@item.ListingId">@item.Address</a></td>
                            <td>Listed</td>
                            <td>@item.ListAmount</td>
                            <td>@((new Random()).Next(1, 25))</td>
                        </tr>
                    }
                        </tbody>
                </table>
</div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts {
    <script>
    
    function newListingModal(productId) {
        $.ajax({
            url: '/Listing/NewListing/', // The method name + paramater
            success: function (data) {
                $('#modalBody').html(data); // This should be an empty div where you can inject your new html (the partial view)
                $('#modalWrapper').show();
            }
        });
    }

    $(document).ready(function () {
        $('#listingTable').DataTable();
    });
        </script>
}

*@