﻿@model Offer.Models.Listing.DetailModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var base64 = Convert.ToBase64String(Model.PropertyImage);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

}
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<link href="~/Content/styles/other.css" rel="stylesheet" />
<link href="~/Content/styles/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/validation.js"></script>
<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <ul class="you_are_here">
                        <li class="hidden-xs go_back_home"><a href="/Listing/Search">Home</a></li>
                        <li class="hidden-xs"><i class="material-icons">navigate_next</i></li>
                        <li class="current_page"><a class="active" href="/Listing/Detail/@Model.ListingId">Listings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="listingView_sellerTab" class="marg-b-20">
    <div class="container">
        <div class="col-md-4">
            <div class=" col-lg-12 listingBox status_active padd-10 ">
                <div class="col-md-12 col-xs-12 text-center ">
                    <i class="material-icons icon_has_topic colorGrey fs-20">location_on</i>
                    <span class="topic_has_icon">@Model.StreetAddress</span>
                    <div class="pull-right ">
                        <a href="javascript:void(0);" onclick="EditListing();">
                            <i class="material-icons icon_has_topic" style="font-size: 16px;">edit</i>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 text-center ">
                    <select name="color-scheme" id="drpstatus-@Model.ListingId" class=" marg-v-10 form-control  drpstatus">
                        @foreach (var sta in ViewBag.StatusResult)
                        {
                            if (Model.ListingStatusCode == sta.Code)
                            {
                        <option selected value="@sta.Code">@sta.DisplayName</option>
                            }
                            else
                            {
                        <option value="@sta.Code">@sta.DisplayName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-12 col-xs-12 text-center ">
                    <a href="/Listing/Detail/@Model.ListingId">

                        <img src="@imgSrc" class="img-responsive img-rounded marg-auto-sm" alt="title goes here">
                    </a>
                </div>
                <div class="col-md-12 col-xs-12 entry text-center">
                    <button href="add_new_listing.html" class="btn ctaBtn btn_mainBlue nextBtn save_btn">
                        <i class="material-icons icon_has_topic colorGrey fs-20">loyalty</i><span class="topic_has_icon">@Model.FormattedListPrice</span>
                    </button>
                </div>
                <div class="col-md-12 col-xs-12 text-center heading_status">
                    <p class="colordarkGrey ">Listing Agent</p>
                    <h4><strong>@Model.ListingAgent</strong></h4>

                    <p class="colordarkGrey ">@Model.AgentPhone</p>
                    <p>@Model.AgentEmail</p>
                </div>
                <div class="col-md-12 col-xs-12  entry">
                    <span class="pull-left text-center">
                        <i class="material-icons icon_has_topic colorGrey fs-20">today</i>
                        <span class="topic_has_icon">List Date: <br> <strong>@String.Format("{0:dd MMM. yyyy}", Model.ListDate)</strong></span>
                    </span>
                    <span class="pull-right text-center">
                        <i class="material-icons icon_has_topic colorGrey fs-20">today</i>
                        <span class="topic_has_icon">Expiration Date: <br><strong>@String.Format("{0:dd MMM. yyyy}", Model.ExpirationDate)</strong></span>
                    </span>
                </div>
                <div class="col-md-12 col-xs-12  entry">
                    <span class="pull-left text-center">
                        List Id: <br> <strong>@Model.UniqueId</strong>
                    </span>
                    <span class="pull-right text-center">
                        <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper "> Place Offer </button>
                    </span>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="text-center">
                        <h4>
                            @{int i = 0;}

                            @foreach (var data in Model.OfferGroups.OfferGroupItems)
                            {

                                if (data.Status == "new")
                                {
                                    i++;
                                }
                                else
                                {

                                }

                            }
                            @if (i > 0)
                            {

                            <a href="#">
                                @i New
                            </a>
                            }
                            else
                            {    <a href="#">
                                @Model.OfferGroups.OfferGroupItems.Count() Offers
                            </a>

                            }
                        </h4>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    @*<p class="colorGrey">Offer Instructions</p>*@
                    <div class="form-group">
                        <div class="input-group full_width">
                            <span>@Model.OfferInstructions </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="row ">
                <!-- Nav tabs -->
                <ul class="nav tabs" role="tablist">

                    <li role="presentation" class="active"><a href="#offers" aria-controls="offers" role="tab" data-toggle="tab">Offers</a></li>
                    <li role="presentation"><a href="#sellers" aria-controls="sellers" role="tab" data-toggle="tab">Sellers</a></li>
                    <li role="presentation"><a href="#file_cabinate" aria-controls="file_cabinate" role="tab" data-toggle="tab">File Cabinate</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content no-padd col-xs-12 padd-v-10">
                    <div role="tabpanel" class="tab-pane active  colordarkGrey" id="offers">

                        <div id="offerlistdiv" class="maindiv">



                        </div>
                        <div id="offerdetail" style="display:none;">
                        </div>
                        <div class="col-xs-12" id="compair_main" style="display:none;">
                        </div>
                        <div id="NewOfferGroup">
                        </div>
                    </div>



                    <div role="tabpanel" class="tab-pane colordarkGrey" id="sellers">
                        <div class="col-sm-12">
                            <div id="sellistddiv"></div>
                            <div id="sellformddiv" style="display:none;"></div>
                            <div id="selledit" style="display:none;"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane  colordarkGrey" id="file_cabinate">

                        <div class="col-xs-12">
                            <div class="boxesPadding_full full-width padd-10 pull-left">
                                <form class="page_form" method="post" action="/Listing/FileCabinate" enctype="multipart/form-data">
                                    <input type="hidden" name="ListingId" value="@Model.ListingId" />
                                    <h3 class="col-sm-12 col-xs-12 no-marg no no-padd full-width text-center-xs colormainBlue ">
                                        <i class="material-icons icon_has_topic fs-36">folder</i>
                                        <span class="topic_has_icon padd-h-40 float-r-sm">Listing File Cabinate</span>
                                    </h3>

                                    <div class="col-xs-11 col-xs-offset-1 ">
                                        <div class="boxesTopic  no-padd full-width marg-v-20">
                                            <i class="material-icons icon_has_topic colormainBlue">account_circle</i>
                                            <span class="topic_has_icon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, labore et dolore magna aliqua.</span>
                                        </div>

                                        <div class=" col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group full_width" style="position:relative">
                                                    <textarea class="form-control" style="resize:none" for="filecabinate" placeholder="Drop offer, pre-approval and proof of fund to close here (or click to upload)" rows="4"></textarea>
                                                    <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" name="filecabinate" multiple>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-xs-12  padd-v-10">
                                            <button type="submit" class="btn ctaBtn btn_mainBlue save_btn">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="listing-edit" class="marg-b-20" style="display:none;">
    <div class="container">
        <div class="row-fluid property_information">
            <form method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.ListingId)
                <div class="col-md-8">

                    <div class="row boxesPadding_full ">
                        <div class="col-md-12 col-xs-12 ">
                            <h4 class="col-md-9 col-xs-12 pull-left">
                                <i class="material-icons icon_has_topic">business</i>
                                <span class="topic_has_icon">Property Information</span>
                            </h4>
                            <select name="ListingStatusCode" id="ListingStatusCode" class="form-control drpstatus">
                                @foreach (var sta in ViewBag.StatusResult)
                                {
                                    if (Model.ListingStatusCode == sta.Code)
                                    {
                                        <option selected value="@sta.Code">@sta.DisplayName</option>
                                    }
                                    else
                                    {
                                        <option value="@sta.Code">@sta.DisplayName</option>
                                    }
                                }
                                </select>
                        </div>
                        <div class="col-md-12 col-xs-12 ">

                            <label>Street Address</label>
                            @Html.TextBoxFor(m => m.StreetAddress, new { @required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-4 col-xs-4 ">

                            <label>City</label>
                            @Html.TextBoxFor(m => m.City, new { @required = "required", @class = "form-control" })

                        </div>
                        <div class="col-md-4 col-xs-4 ">

                            <label>State</label>
                            @Html.DropDownListFor(m => m.State, new SelectList(ViewBag.state, "Code", "Name"), new { @class = "form-control required", id = "drpstate" })

                        </div>
                        <div class="col-md-4 col-xs-4">

                            <label>Postal Code</label>
                            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control required StopChar", placeholder = "Zip code", @minlength = "5", @maxlength = "5" })




                        </div>
                        <div class="col-md-12 col-xs-12 entry">

                            <span class="pull-left"><label>List Price</label><i class="material-icons icon_has_topic colorGrey fs-20">loyalty</i><span class="topic_has_icon"> @Html.TextBoxFor(m => m.ListPrice, new { @class = "form-control StopChar required", placeholder = "eg. $500000 " })</span></span>
                            <span class="pull-right">
                                <label>List Date</label>
                                <div class="input-group date full_width">

                                    @Html.TextBoxFor(m => m.ListDate, new { @class = "form-control required", placeholder = "List Date", id = "listing_date" })

                                    <span class="input-group-addon"><i class="material-icons">today</i></span>
                                </div>
                            </span>
                        </div>
                        <div class="col-md-12 col-xs-12 entry">

                            <label>Offer Instructions</label>@Html.TextAreaFor(m => m.OfferInstructions, new { @required = "required", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="pull-right detailmode">
                        <a href="#" class="pull-right">
                            <i class="material-icons icon_has_topic" onclick="EditPropertyImage();">edit</i>
                        </a>
                        <img src="@imgSrc" class="img-responsive img-rounded" alt="title goes here">
                    </div>
                    <div class="pull-right editable_mode" style="display:none;">
                        <div class="form-group">
                            <div class="input-group full_width drop_zone form-control">
                                <i class="material-icons blue_icon">add_a_photo</i>
                                <div class="input-group full_width" style="position:relative; ">
                                    <textarea class="form-control" style="resize:none" for="filecabinate" placeholder="Drop offer, pre-approval and proof of fund to close here (or click to upload)" rows="4"></textarea>
                                    <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" name="filecabinate">

                                    <a href="#" class="btn ctaBtn btn_mainBlue cancel_btn">
                                        Or Select Files to Upload
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 pull-left col-xs-12 no-padd txt-upper marg-t-10">
                        <button type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Save</button>
                    </div>
                    <div class="col-md-4 col-sm-12 pull-right col-xs-12 no-padd txt-upper marg-t-10">
                        <button type="button" onclick="CancelEdit();" class="btn ctaBtn btn_mainBlue cancel_btn close_me">Cancel</button>
                    </div>
                    @*<button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper marg-t-10"><i class="material-icons icon_has_topic fs-20">file_upload</i><span class="topic_has_icon">Manually upload agent offer</span></button>
                        <button class="btn ctaBtn btn_mainBlue save_btn col-xs-12 no-padd txt-upper marg-t-10"><i class="material-icons icon_has_topic fs-20">edit</i><span class="topic_has_icon">create offer for our buyer</span></button>*@
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts {
    <script src="~/Scripts/Views/Offer/NewOfferGroup.js"></script>
    <script src="~/Scripts/validation.js"></script>
    <script src="~/javascripts/bootstrap-datepicker.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#listing_date, #expire_date").datepicker({
                todayHighlight: true,
            });
        });
        $(document).ready(function () {

            $(".close_me").click(function(){
                $("#sellistddiv").toggle();
            })
        });
        function newOfferGroup() {
            $.ajax({
                url: '/Offer/NewOfferGroup?ListingID=' + @Model.ListingId+'&OfferType=ListingOfferGroup' ,
                success: function (data) {
                    $('#NewOfferGroup').html(data);

                    $('#NewOfferGroup').show();
                    $('#offerlistdiv').hide();
                }
            });
        }
        function cancelNewOfferGroup() {
            $('#NewOfferGroup').hide();
            $('#offerlistdiv').show();
        }
        function EditListing() {
            $('#listing-edit').show();
            $('#listingView_sellerTab').hide();
        }
        function CancelEdit() {
            $('#listing-edit').hide();
            $('#listingView_sellerTab').show();
        }
        function cancelNewseller() {
            $('#sellistddiv').show();
            $('#sellformddiv').hide();
        }
        function NewSeller() {
            $('#sellistddiv').hide();
            $('#sellformddiv').show();
        }
        function Editseller(Id)
        {
            $.ajax({
                url: '/Listing/EditSeller?SellerId=' + Id,
                success: function (data) {
                    $('#selledit').html(data);
                    $('#selledit').show();
                    $('#sellistddiv').hide();
                    $('#sellformddiv').hide();
                }
            });
        }
        function DeleteSeller(Id)
        {
            $.ajax({
                url: '/Listing/DeleteSeller?SellerId=' + Id,
                type: "POST",
                success: function (data) {
                    $('#seller-' + Id).remove();

                }
            });
        }
        function EditPropertyImage()
        {
            $('.editable_mode').show();
            $('.detailmode').hide();
        }

        $(document).ready(function () {

            $('#offerlistdiv').load('/Listing/_DisplayOffer?ListingID=' + @Model.ListingId);
           // $('#listingOfferTable').DataTable();
            $('#sellistddiv').load('/Listing/SellersList?ListingID=' + @Model.ListingId);
            $('#sellformddiv').load('/Listing/NewSeller?ListingID=' + @Model.ListingId);
        });
    </script>

    <script>

        $(document).ready(function () {
            $('#fileupload').change(function () {
                alert('hi');
                var formData = new FormData($('#newOfferGroupForm')[0]);
                $.ajax({
                    url: '../Offer/Upload',
                    type: 'POST',
                    data: formData,
                    sucess: function (data) {
                        alert(sucess);
                        window.location.href='/Listing/Search';
                    },
                    error: function () { alert('An error occured.'); }
                });
            });
        });
    </script>
}


