﻿@model  DubTech.Framework.Ef.Seller
@{
    var base64 = Convert.ToBase64String(ViewBag.sellerimage);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    Layout = null;
    }
@*New Design*@
@using (Html.BeginForm("EditSeller", "Listing", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
{  @Html.HiddenFor(m => m.SellerId)
    @Html.HiddenFor(m => m.ListingId)
    <div class="col-sm-6 text-center col-xs-12 marg-t-15" id="edit_one">
        <div class="saller_img_edit">
            <img src="@imgSrc" alt="">
            <a href="javascript:void(0);" class="btn_uploard">
                <span for="dev">change</span>
                <input id="dev" type="file" name="sellerpic" />
            </a>
        </div>

        <div class="saller_name_edit padd-h-10 padd-v-10">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control required", placeholder = "First Name" })

                </div>
            </div>
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control required", placeholder = "Last Name" })
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12  bdr-tp-1 padd-10">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control required", placeholder = "Phone" })
                </div>
            </div>

            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", placeholder = "Email" })
                </div>
            </div>

        </div>
        <div class="col-md-12 col-xs-12  padd-10">
            <div class="form-group">
                <div class="input-group full_width">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "Seller's Note" })
                </div>
            </div>

        </div>

        <div class="col-md-12 col-xs-12  padd-v-10">

            <button type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn" id="submitseller">Save Changes</button>
            <button class="btn ctaBtn btn_mainBlue cancel_btn close_me" type="button" onclick="CancelEdit()" >Cancel</button>
            
        </div>
    </div>
}





@*Old Design*@
    @*
            @using (Html.BeginForm("EditSeller", "Listing", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
    {<div class="row-fluid setup-content" id="step-1">
            <div id="sellersInformation" class="row-fluid">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

                    <div class="boxesPadding">
                        <h4 class="boxesTopic">
                            <i class="material-icons icon_has_topic">account_circle</i>
                            <span class="topic_has_icon">Sellers Information</span>
                        </h4>
                        <hr>
                        <div class="row boxesParagraph">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.SellerId)
                                @Html.HiddenFor(m => m.ListingId)
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control required", placeholder = "First Name" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group">

                                                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control required", placeholder = "Last Name" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group full_width">
                                    <div class="input-group">
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control required", placeholder = "Address" })

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.State, new { @class = "form-control required", placeholder = "State" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control required", placeholder = "City" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group">

                                                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control required", placeholder = "Postal Code" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control required", placeholder = "Phone" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 half_padding">
                                        <div class="form-group full_width">
                                            <div class="input-group">

                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", placeholder = "Email" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row-fluid call_to_action">
                        <div class="right">
                            <a onclick="CancelEdit()" class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</a>
                            <button type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn" id="submitseller">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>}*@

