﻿@model Offer.Models.Listing.NewListingModel
@{
    ViewBag.Title = "NewListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <ul class="you_are_here">
                        <li class="hidden-xs go_back_home"><a href="/Listing/Search">Listings</a></li>
                        <li class="hidden-xs"><i class="material-icons">navigate_next</i></li>
                        <li class="current_page"><a class="active">Add New Listing</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section id="addNewListing" class="wrapEmAll">
    <div class="container">
        <div class="row stepsWrapper">
            <div class="stepwizard col-md-8 col-md-offset-2 allSteps">
                <div class="stepwizard-row setup-panel">
                    <div class="col-md-4 col-xs-4 stepwizard-step steps active stepOne">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <span class="stepInfo active hidden-xs">Sellers Information</span>
                    </div>
                    <div class="col-md-4 col-xs-4 stepwizard-step steps stepTwo">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <span class="stepInfo hidden-xs">Property Information</span>
                    </div>
                    <div class="col-md-4 col-xs-4 stepwizard-step steps stepThree">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <span class="stepInfo hidden-xs">Offer Instructions</span>
                    </div>
                </div>
            </div>

            <style>
                .frmgrp .form-group {
                    min-height: 38px;
                }
            </style>
            @using (Html.BeginForm("NewListing", "Listing", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
            {
                <div class="row-fluid setup-content" id="step-1">
                    <div id="sellersInformation" class="row-fluid">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

                            <div class="boxesPadding">
                                <h4 class="boxesTopic">
                                    <i class="material-icons icon_has_topic">account_circle</i>
                                    <span class="topic_has_icon">Sellers Information</span>
                                </h4>
                                <hr>
                                <div class="row boxesParagraph frmgrp">


                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.SellerFirstname, new { @class = "form-control required", placeholder = "First Name" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.SellerLastname, new { @class = "form-control required", placeholder = "Last Name" })

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                <input id="sameListing" class="checkbox-custom" name="sameListing" type="checkbox">
                                                <label for="sameListing" class="checkbox-custom-label">Same as listing property</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.SellerPhone, new { @class = "form-control required StopChar", placeholder = "Mobile No", @maxlength = "13" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="input-group full_width">


                                                @Html.TextBoxFor(m => m.SellerAddress, new { @class = "form-control required", placeholder = "Address", id = "sellerAddress" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                <input id="recieveText" class="checkbox-custom" name="recieveText" type="checkbox">
                                                <label for="recieveText" class="checkbox-custom-label">Recieve text notifications <span class="extra_hidden">of new offers</span></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.SellerCity, new { @class = "form-control required", placeholder = "City", id = "sellerCity" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group full_width custom_margin-md">
                                                @Html.TextBoxFor(m => m.SellerEmail, new { @class = "form-control required", placeholder = "Email", id = "selleremail" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 half_padding">
                                                <div class="form-group full_width">
                                                    <div class="input-group">
                                                        @Html.DropDownListFor(model => model.SellerState, new SelectList(ViewBag.state, "Code", "Name"), "-- Select State --", new { @class = "form-control required", id = "sellerState" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 half_padding">
                                                <div class="form-group full_width">
                                                    <div class="input-group">


                                                        @Html.TextBoxFor(m => m.SellerPincode, new { @class = "form-control required StopChar", placeholder = "Zip code", @minlength = "5", @maxlength = "5", id = "sellerzipcode" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <div class="row">
                                                <label for="emailNewOffers" class="checkbox-custom-label col-md-6">Email New offers </label>

                                                <ul class="col-md-6">
                                                    <li>
                                                        <select id="emailoffer" class="form-control">
                                                            <option value="immediately">Immediately</option>
                                                            <option value="active">1 Hour Delay</option>
                                                            <option value="escrow">2 Hour Delay</option>
                                                            <option value="closed">Manually (Auto sent after 12 hours)</option>
                                                        </select>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                                <div class="row-fluid call_to_action">
                                    <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>
                                    <div class="right">

                                        <button type="button" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Next</button>
                                    </div>
                                </div>


                           
                        </div>
                    </div>
                </div>

                <div class="row-fluid setup-content" id="step-2">
                    <div id="propertyInformation" class="row-fluid">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div class="boxesPadding">
                                <h4 class="boxesTopic">
                                    <i class="material-icons icon_has_topic">business</i>
                                    <span class="topic_has_icon">Property Information</span>
                                </h4>
                                <hr>
                                <div class="row boxesParagraph">
                                    <div class="col-md-6  col-sm-6">

                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control required", placeholder = "Address" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control required", placeholder = "City" })

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 half_padding">
                                                <div class="form-group full_width">
                                                    <div class="input-group">
                                                        @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.state, "Code", "Name"), "-- Select State --", new { @class = "form-control required", id = "drpstate" })


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 half_padding">
                                                <div class="form-group full_width">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control required StopChar", placeholder = "Zip code", @minlength = "5", @maxlength = "5" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextBoxFor(m => m.ListAmount, new { @class = "form-control StopChar required", placeholder = "eg. $500000 " })

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <div class="row">
                                                    <label for="emailNewOffers" class="checkbox-custom-label col-md-4">Listing Date </label>

                                                    <div class="col-md-8">
                                                        <div class="input-group date full_width">

                                                            @Html.TextBoxFor(m => m.ListDate, new { @class = "form-control required", placeholder = "List Date", id = "listing_date" })

                                                            <span class="input-group-addon"><i class="material-icons">today</i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="form-group full_width move_down_group">
                                                <div class="input-group">
                                                    <ul>
                                                        <li>
                                                            <select name="color-scheme" id="color-scheme" class="form-control">
                                                                <option value="active">Active</option>
                                                                <option value="escrow">In Escrow</option>
                                                                <option value="closed">Closed</option>
                                                                <option value="cancelled">Cancelled</option>
                                                            </select>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>*@
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <div class="row">
                                                    <label for="emailNewOffers" class="checkbox-custom-label col-md-4">Expiry Date </label>

                                                    <div class="col-md-8">
                                                        <div class="input-group date full_width">
                                                            <div class="input-group date  full_width">
                                                                @Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control required", placeholder = "Expiration Date", id = "expire_date" })

                                                                <span class="input-group-addon"><i class="material-icons">today</i></span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-sm-6">

                                        <div class="form-group">
                                            <div class="input-group full_width drop_zone form-control">
                                                <i class="material-icons blue_icon">add_a_photo</i>
                                                <div class="input-group full_width" style="position:relative; ">
                                                    <textarea class="form-control" style="resize:none" for="filecabinate" placeholder="Drop offer, pre-approval and proof of fund to close here (or click to upload)" rows="4" ></textarea>
                                                    <input type="file" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;" name="filecabinate"  >
                                                    @*<textarea class="form-control marg-v-10" style="resize:none" placeholder="Drop files here to upload (or click)" rows="3"></textarea>
                                                        <input type="file" class="" style="width:100%; top:0px; height:100%; left:0px; position:absolute; z-index:10; opacity:0;">*@
                                                </div>
                                                @*<div class="drop_area">
                                                        Drag and Drop Images here
                                                    </div>*@
                                                <a href="#" class="btn ctaBtn btn_mainBlue cancel_btn">
                                                    Or Select Files to Upload
                                                </a>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid call_to_action">
                                <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>
                                <div class="right">
                                    @*<button type="button" class="btn ctaBtn btn_mainBlue cancel_btn">Cancel</button>*@
                                    <a class="btn ctaBtn btn_mainBlue cancel_btn" onclick="First_step();">Back</a>
                                    <button type="button" class="btn ctaBtn btn_mainBlue nextBtn save_btn">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid setup-content" id="step-3">
                    <div id="offerInstructions" class="row-fluid">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div class="boxesPadding">
                                <h4 class="boxesTopic">
                                    <i class="material-icons icon_has_topic">format_list_bulleted</i>
                                    <span class="topic_has_icon">Offer Instructions</span>
                                </h4>
                                <hr>
                                <div class="row boxesParagraph">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <div class="input-group full_width">
                                                @Html.TextAreaFor(m => m.OfferInstruction, new { @class = "form-control required", placeholder = "Offer Instruction", id = "offinstr", rows = "4" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid call_to_action">
                                <button class="btn ctaBtn btn_mainBlue border_btn visibilityHide"></button>

                                <div class="right">
                                    <a class="btn ctaBtn btn_mainBlue cancel_btn" onclick="Second_step();">Back</a>
                                    <button type="submit" class="btn ctaBtn btn_mainBlue save_btn">Save Listing</button>
                                </div>
                            </div>
                        </div>
                                </div>
                </div>
            }

        </div>
    </div>
</section>
@section scripts {
    <script src="~/Scripts/validation.js"></script>
    <script src="~/javascripts/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#listing_date, #expire_date").datepicker({
                todayHighlight: true,
            });
        });
        function First_step() {
            $(".stepOne a").trigger('click');;
        }
        function Second_step() {
            $(".stepTwo a").trigger('click');;
        }
        $(document).on('change', '#sameListing', function () {
            if (this.checked) {              
                $.ajax({
                    url: '/Listing/GetSellerData',
                    success: function (data) {
                        $('#sellerAddress').val(data.Address);
                        $('#sellerCity').val(data.City);
                        $('#sellerState').val(data.State);
                        $('#sellerzipcode').val(data.PostalCode);
                    }
                });
            }
            else {
                $('#sellerAddress').val(null);
                $('#sellerCity').val(null);
                $('#sellerState').val(null);
                $('#sellerzipcode').val(null);
            }
        });





    </script>
}
