﻿@model  Offer.Models.Seller.NewSellerModel
@{
    Layout = null;
    int ListId = Convert.ToInt32(TempData["ListingID"]);
}
@*<script src="~/Scripts/validation.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(documemt).ready(function () {
        $('#ListingId').val(@ListId);
    });
</script>
@*<script>
        $('#submitseller').click(function ()
        {
            alert('hi');
            $.ajax({
                type: "POST",
                url: "Listing/NewSeller",
                data: $("FRM").serialize(),
                dataType:"json",
                success: function(resultData){
                    alert("Save Complete");
                    $('#sellistddiv').load('/Listing/SellersList?ListingID=' +  @ListId;
                }
            });
    </script>*@
@using (Html.BeginForm("NewSeller", "Listing", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
{    @Html.HiddenFor(m => m.ListingId, new { id = "ListingId" })
    @Html.ValidationSummary(true)
    <div class="col-sm-6 text-center col-xs-12 marg-t-15">
        <div class="boxesPadding_full no-padd pull-left">
          
                <div class="saller_img_edit">
                    <img src="~/Content/images/demo/user.jpgc" alt="">
                    <a href="javascript:void(0);" class="btn_uploard">
                        <span for="dev">change</span>
                        <input id="dev" type="file" name="sellerpic" />
                    </a>
                </div>
            <div class="saller_name_edit padd-h-10 padd-v-10">
                <div class="form-group">
                    <div class="input-group half_padding">
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control required", placeholder = "First Name"})
                        @Html.ValidationMessageFor(m => m.Firstname)
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group half_padding">
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control required", placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.Lastname)
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12  padd-10">

                <div class="form-group">
                    <div class="input-group full_width">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone"})
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12  padd-10">
                <div class="form-group">
                    <div class="input-group full_width">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-xs-12  padd-10">
                <div class="form-group">
                    <div class="input-group full_width">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "Seller's Note"})
                    </div>
                </div>

            </div>
           

           
          
            <div class="col-md-12 col-xs-12  padd-v-10">

                <button type="submit" class="btn ctaBtn btn_mainBlue nextBtn save_btn" id="submitseller">Save Changes</button>
                <button class="btn ctaBtn btn_mainBlue cancel_btn close_me" onclick="cancelNewseller()">Cancel</button>
            </div>
        </div>
    </div>
}





       