﻿@model Offer.Models.Listing.SearchModel
@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(function () {
            
            $("#txtsearch").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: '/Listing/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            
                            response($.map(data, function (item) {
                                return item;
                                
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                   
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });
      

    });
</script>

<nav class="navbar subNavBar">
    <div class="container">
        <div id="sub_navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/Listing/NewListing" class="btn btn_mainBlue navbar_btn btn_with_icon uppercase">
                        <i class="subnav_btn_icon material-icons">add_circle</i>
                        Add New Listing
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group"><input type="text" class="form-control" placeholder="Search" id="txtsearch">
                    <label id="hfCustomer" name="CustomerId" ></label>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>

                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select id="statusFilter">
                                <option value="">Select Status</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes">
                            <label for="chk-all">
                                <input name="chkstatus" type="checkbox" id="all" value="all" style=" margin: 2px 6px 2px 2px;" />Show All
                            </label>
                            @foreach (var sta in ViewBag.StatusResult)
                            {
                                if (sta.Code == "expired" || sta.Code == "cancelled")
                                {
                                    <label for="chk-@sta.Code">
                                        <input name="chkstatus" type="checkbox"  id="chk-@sta.Code" value="@sta.Code" style=" margin: 2px 6px 2px 2px;" />@sta.DisplayName
                                    </label>
                                }
                                else
                                {
                                    <label for="chk-@sta.Code">
                                        <input name="chkstatus" type="checkbox" checked id="chk-@sta.Code" value="@sta.Code" style=" margin: 2px 6px 2px 2px;" />@sta.DisplayName
                                    </label>
                                }


                            }

                        </div>
                    </div>
                </li>
                <li>

                    <a id="btngo" class="btn btn_mainBlue navbar_btn btn_with_icon uppercase col-lg-1">Go</a>


                </li>
            </ul>
        </div>
    </div>
</nav>


<section id="allListings" class="wrapEmAll">
    <div class="container" id="searchresult">
       
       @*Serach Result Partial Page*@
    </div>
</section>


<style>
    .multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
   position: absolute;
    width: 100%;
    background:#ffffff;
    z-index: 99999;
}

#checkboxes label {
  display: block;
   padding-left: 10px;  text-align: left;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
</style>


@section scripts {


    <script>
        //Multi select check box js
        var expanded = false;
        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }
        //Add new listing
        function newListingModal(productId) {
            $.ajax({
                url: '/Listing/NewListing/', // The method name + paramater
                success: function (data) {
                    $('#modalBody').html(data); // This should be an empty div where you can inject your new html (the partial view)
                    $('#modalWrapper').show();
                }
            });
        }

    </script>

<script>

  
    $(document).ready(function () {
     
        $.ajax({
            url: '/Listing/_DisplayAll', // The method name + paramater
            success: function (data) {
                $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)
            }
        });
    });
    $('#txtsearch').change(function () {
        var Address = $('#txtsearch').val();       
        $.ajax({
            url: '/Listing/_SearchResult?SearchType=Address&Address=' + Address+'&Status=' + null, // The method name + paramater
            success: function (data) {
                $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)
                 
            }
        });
    });
    //$('#statusFilter').change(function () {        
    //    var Status = $('#statusFilter').val();
    $('#btngo').click(function () {
      
        var arry = [];
        $.each($("input[name='chkstatus']:checked"),
               function () {                  
                   arry.push($(this).val());
               });
        //var Status = $('.multiSel').html();
        $.ajax({
            url: '/Listing/_SearchResult?SearchType=Status&Address=' + null + '&Status=' + arry, // The method name + paramater
            success: function (data) {
                $('#searchresult').html(data); // This should be an empty div where you can inject your new html (the partial view)

            }
        });
    });
      
</script>
}



@*
    <script src="~/javascripts/multiselect.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listings</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listings
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <button type="button" onclick="newListingModal()" class="btn btn-outline btn-primary btn-sm">New Listing</button>
                <table id="listingTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Status</th>
                            <th>List Amount</th>
                            <th>Total Offers</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.ListingItems)
                    {
                        <tr>
                            <td><a href="/Listing/Detail/@item.ListingId">@item.Address</a></td>
                            <td>Listed</td>
                            <td>@item.ListAmount</td>
                            <td>@((new Random()).Next(1, 25))</td>
                        </tr>
                    }
                        </tbody>
                </table>
</div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts {
    <script>
    
    function newListingModal(productId) {
        $.ajax({
            url: '/Listing/NewListing/', // The method name + paramater
            success: function (data) {
                $('#modalBody').html(data); // This should be an empty div where you can inject your new html (the partial view)
                $('#modalWrapper').show();
            }
        });
    }

    $(document).ready(function () {
        $('#listingTable').DataTable();
    });
        </script>
}

*@