﻿@model Offer.Models.Account.LogInView
@{
    Layout = null;
}
<form role="form" method="post" action="/Account/LogIn">

    <div class="form-group">
        <label class="sr-only" for="emailInput">Your Email Address</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="material-icons">email</i></div>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" required="required">
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="passwordInput">Your Password Here</label>
        <div class="input-group">
            <div class="input-group-addon"><i class="material-icons">lock</i></div>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
        </div>
    </div>

    <div class="check_div">
        @if (Model.RememberMe)
        {
            <input type="checkbox" id="password" name="RememberMe" checked="checked" />@: Remember Me
            }
        else
        {
            <input type="checkbox" id="password" name="RememberMe" />@: Remember Me
            }


        <a href="javascript:void(0);" data-dismiss="modal" data-toggle="modal" data-target="#forgot">Forgot Password?</a>
    </div>
    <div class="login_btn_div">
        <button type="submit" id="btn_submit" class="btn btn_mainBlue save_btn">LOG IN</button>
    </div>
    <br>
    @*<a href="/Register/Step1">Create An Account</a>*@
    @Html.ValidationSummary(true)
</form>