﻿@model Offer.Models.Account.ForgotPasswordModel

@{

    Layout = null;
}

<section id="login_screen" class="wrapEmAll">
    <div class="col-md-12 loginBox">

        <p>Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
        <form method="post" action="/Account/ForgotPassword">
            <div class="form-group">
                <label class="sr-only" for="emailInput">Email</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="material-icons">email</i></div>
                    <input type="text" name="Email" placeholder="Email" required class="form-control" />
                </div>
            </div>
            <button type="submit" id="btn_submit" class="btn btn_mainBlue save_btn">Send</button>
            <br>
        </form>
    </div>
</section>








