﻿@model Offer.Models.Account.LogInView
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog model_login" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">

                    <h3 class="login_popup_title">Sign in to Every Offer</h3>
                    <div class="form_login long_main_box" id="divlogin">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Login Modal -->

<section>
    <div class="container">
        <div class="row">
            <div class="bg_login">

                <div class="col-lg-12 col-md-12">
                    <div class="heading_login_page">
                        <h1>Welcome to Every Offer</h1>
                        <p>To place an offer on one of our listings, please enter the Listing ID</p>
                    </div>
                    <form method="get" action="@Url.Action("ListingDetail", "SubmissionHub")">
                        <div class="entry_login">
                            <input type="text" placeholder="Enter Every Offer ID #" name="Id">
                        </div>
                        <div class="entry_login_2">
                            <button type="submit" id="btn_submit" class="btn btn_mainBlue save_btn">Place Offer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">

            <button type="submit" class="btn btn_mainBlue save_btn btn_headar" data-toggle="modal" data-target="#register">Register</button>
        </div>
    </div>
</section>
<div id="modalregister" style="display:none;">
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog model_login" role="document">
            <div class="modal-content">


                <div class="modal-body">
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="login_popup_title">Sign up for Every Offer</h3>
                        <div class="form_login" id="divregister">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
