﻿@model Offer.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="login_screen" class="wrapEmAll">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 loginBox boxesPadding_full">
        <h1>Reset Password</h1>

        @if (!String.IsNullOrWhiteSpace(ViewBag.Message))
        {
            @ViewBag.Message
            <br />
    <a href="javascript:void(0);" data-dismiss="modal" data-toggle="modal" data-target="#forgot">Forgot Password?</a>
        }
        else
        {
            using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
            @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PasswordResetToken)
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="emailInput">New Password</label>
                    <div class="input-group-addon"><i class="material-icons">lock</i></div>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                </div>
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="emailInput">Confirm New Password</label>
                    <div class="input-group-addon"><i class="material-icons">lock</i></div>
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
            </div>
            <button type="submit" id="btn_submit" class="btn btn_mainBlue save_btn">Reset</button>
            <br />
        }
        }
    </div>
</section>




<script>
       $('#modalregister').show();
       $('#modalfrgtpass').show();
       $('#divregister').load("/Account/UserRegistration/");
       $('#divfrgtpass').load("/Account/ForgotPassword/");
</script>



