﻿@model Offer.Models.Account.ProfileData

@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<section id="login_screen" class="wrapEmAll">
    <div class="col-md-12 loginBox">
        @*<form method="post" action="/Account/UserRegistration">*@
@using (Html.BeginForm("UserRegistration", "Account", FormMethod.Post, new { @id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
            <div class="form-group">

                <div class="input-group">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="UserRole" value="agent" /> Agent
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="UserRole" value="broker" /> Broker
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">

                    <div class="input-group">
                        <div class="input-group-addon"></div>
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control required", placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.Firstname)
                        @*<input type="text" name="Firstname" placeholder="First Name" required class="form-control" />*@

                    </div>
                </div>
                <div class="form-group col-md-6">

                    <div class="input-group">
                        <div class="input-group-addon"></div>
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control required", placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.Lastname)
                        @*<input type="text" name="Lastname" placeholder="Last Name" required class="form-control" />*@

                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="input-group">
                    <div class="input-group-addon"></div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                    @*<input type="text" name="Email" placeholder="Email" required class="form-control" />*@

                </div>
            </div>
            <div class="form-group">

                <div class="input-group">
                    <div class="input-group-addon"></div>

                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control required", placeholder = "Brokerage" })
                    @Html.ValidationMessageFor(m => m.CompanyName)
                    @*<input type="text" name="CompanyName" placeholder="Brokerage" required class="form-control" />*@

                </div>
            </div>
            <div class="form-group">

                <div class="input-group">
                    <div class="input-group-addon"></div>
                    @Html.TextBoxFor(m => m.LicenseNumber, new { @class = "form-control required", placeholder = "Real Estate License #" })
                    @Html.ValidationMessageFor(m => m.LicenseNumber)
                    @*<input type="text" name="LicenseNumber" placeholder="Real Estate License #" required class="form-control" />*@

                </div>
            </div>
            <div class="form-group">

                <div class="input-group">
                    <div class="input-group-addon"></div>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control required", placeholder = "Phone Number" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                    @*<input type="text" name="PhoneNumber" placeholder="Phone Number" required class="form-control" />*@
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">

                    <div class="input-group">
                        <div class="input-group-addon"></div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control required", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                        @*<input type="password" name="Password" placeholder="Password" required class="form-control" />*@

                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="input-group-addon"></div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        @*<input type="password" name="ConfirmPassword" placeholder="Confirm Password" required class="form-control" />*@

                    </div>
                </div>
            </div>
            <div>

                <p>By signing up, I agree to the Every Offer Privacy Policy and the Terms of Services.</p>
            </div>

            <button type="submit" id="btn_submit" class="btn btn_mainBlue save_btn">Sign Up</button>
            <br>

            <div class="login_btn_div">
                Already have an account?
                <a href="javascript:void(0);" data-dismiss="modal" data-toggle="modal" data-target="#login">Login</a>
            </div>
}
        @*</form>*@
    </div>


</section>





<script>
   
        $( "#createForm" ).submit(function(event) {
        //$.get('/Account/UserRegistration', function (data) {
        //    $('#divregister').html(data);
        //    $('#myModal').modal({});
        //});


        $.ajax({
            url: '/Listing/UserRegistration', // The method name + paramater
            type:'post',
            data:$('#createForm').serialize(),
            success: function (data) {
                $('#divregister').html(data);
                $('#register').modal({});
            }
        });
    });
  
</script>